@use "../../../core" as *;

.p-additional-serveices {
  $this: &;

  margin-top: 64px;

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 12px;
  }

  &__item {
    position: relative;
    width: calc(50% - 6px);

    &-title {
      position: absolute;
      bottom: calc(100% + 16px);

      .c-heading-3 {
        white-space: nowrap;
      }
    }
  }

  &__spacer {
    display: none;
  }

  &__break {
    width: 100%;
    height: 48px;
  }
}

@include is-tb {
  .p-additional-serveices {
    margin-top: 0;
    $this: &;

    &__list {
      gap: 0 12px;
    }

    &__item {
      margin-top: 74px;

      &--over4 {
        margin-top: 16px;
      }

      width: calc(25% - 9px);

      &-title {
        .c-heading-3 {
          white-space: normal;
        }
      }
    }

    &__spacer {
      display: block;
      width: calc(25% - 9px);
    }

    &__break {
      display: none;
    }
  }
}

@include is-pc {
  .p-additional-serveices {
    margin-top: 0;
    $this: &;

    &__list {
      gap: 0 12px;
    }

    &__item {
      margin-top: 82px;

      &--over4 {
        margin-top: 16px;
      }
    }
  }
}
