@use "../../../core" as *;

.p-input-block02 {
  &__item {
    padding: 16px 0;
    border-top: 1px solid $color_gray_10;

    &-title {
      $item-title: &;

      &-label {
        &--em {
          font-weight: bold;
        }
      }

      &-lead {
        @include font-line(16, 22.4);
      }

      &--m {
        margin-bottom: 8px;
        @include font-line(16, 22.4);
      }

      &--l {
        margin-bottom: 16px;
        @include font-line(20, 26);
      }

      &--has-text {
        #{$item-title} {
          &-label {
            float: left;
          }

          &-lead {
            float: right;
          }
        }

        &::after {
          @include clearfix;
        }
      }
    }

    &-airport {
      &-departure,
      &-arrival {
        display: inline-block;
      }

      &-to {
        margin-right: 8px;
        margin-left: 8px;
      }
    }

    &-date + &-airport {
      margin-top: 4px;
    }

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__row {
    &-body {
      &-item {
        margin-top: 8px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
