@use "../../../core" as *;

.p-manage-booking {
  margin-top: 16px;
  border-radius: 15px;
  background-color: $color_white;

  &__item {
    $item: &;

    padding: 16px;

    & + & {
      padding-top: 24px;
      border-top: 1px solid $color_gray_10;
    }

    &-head {
      margin-bottom: 16px;

      &--has-btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        #{$item} {
          &-head {
            &-btn {
              flex-shrink: 0;
            }
          }

          &-title {
            padding-right: 16px;
          }
        }
      }
    }

    &-title {
      $item-title: &;

      &-label {
        @include font-line(20, 26);

        &-em {
          font-weight: bold;
        }
      }

      &-lead {
        margin-top: 4px;
      }
    }
  }

  &__btn {
    display: flex;
    flex-shrink: 0;
    gap: 8px;

    &-item {
      flex-shrink: 0;
    }
  }

  &--disabled {
    background-color: $color_gray_10;
    color: $color_gray_70;

    .c-float-list01 {
      &__title {
        color: $color_gray_70;
      }
    }
  }
}
@include is-tb {
  .p-manage-booking {
    &__item {
      padding: 20px 24px;
    }
  }
}
