@use "../../../core" as *;

.p-modal-body03 {
  .p-flight-detail01 {
    &__block {
      &:first-child {
        padding-top: 16px;
      }

      &:last-child {
        padding-bottom: 16px;
      }
    }
  }
}
@include is-tb {
  .p-modal-body03 {
    .p-flight-detail01 {
      &__block {
        &:first-child {
          padding-top: 24px;
        }

        &:last-child {
          padding-bottom: 24px;
        }
      }
    }
  }
}
