@use "../../../core" as *;

.p-modal-dep-date {
  width: 100%;
  padding: 12px 16px;
  border-bottom: 1px solid $color_gray_10;
  background-color: $color_white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  &__item {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__time {
    display: flex;
    flex-flow: column;

    &-stamp {
      font-weight: bold;
      @include font-line(20, 26);
    }

    &-wait {
      word-break: keep-all;
      @include font-line(16, 22.4);
    }
  }
}
@include is-tb {
  .p-modal-dep-date {
    padding: 16px;

    &__time {
      flex-flow: row;
      justify-content: space-between;
    }
  }
}
