@use "../../../core" as *;

.p-modal-seatmap-emergency-exit {
  &__item {
    @include font-line(16, 22.4);

    & + & {
      margin-top: 24px;
    }
  }

  .c-disc-list01 {
    &__item {
      margin-top: 0;
    }
  }
}
