@use "../../../core" as *;

.p-modal-payment-detail {
  background-color: $color_white;

  &__wrap {
    padding: 16px;
  }

  &__detail {
    &-title {
      &-passenger {
        margin-top: 8px;
        @include font-line(16, 22.4);

        text-align: right;
      }
    }

    &-contents {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid $color_gray_10;
    }
  }

  &__information {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid $color_gray_10;
    border-radius: 10px;

    &-item {
      margin-top: 4px;
      display: flex;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("~/assets/images/icon_guidance_gray70_20.svg") no-repeat center center;
        background-size: cover;
        flex-shrink: 0;
        margin-right: 4px;
      }
    }
  }
}

@include is-tb {
  .p-modal-payment-detail {
    &__wrap {
      padding: 20px 24px 16px;
    }

    &__detail {
      display: flex;
      justify-content: space-between;

      &-title,
      &-contents {
        width: calc((100% - 24px) / 2);
      }

      &-contents {
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
      }
    }

    &__information {
      margin-top: 20px;
    }
  }
}
