@use "../../../core" as *;

.p-modal-total-amount {
  padding: 16px;

  &__item {
    display: flex;
    justify-content: flex-end;
    @include font-line(16, 22.4);

    &:not(:first-child) {
      margin-top: 4px;
    }

    &--2col {
      justify-content: space-between;
    }

    &-total {
      @include font-line(20, 26);
    }

    &-breakdown {
      $this: &;
      @include font-line(24, 28.8);

      &--total {
        font-weight: bold;
        #{$this}-price {
          display: inline-block;
          background-color: $color_ado_lightyellow01;
        }
      }

      &-price {
        font-size: 0;
      }

      &-num,
      &-currency {
        @include font-line(24, 28.8);
      }

      &-num + &-currency,
      &-currency + &-num {
        margin-left: 4px;
      }
    }
  }
}
