@use "../../../core" as *;

.p-mybooking-support {
  &__title {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $color_gray_90;
    @include font-line(16, 22.4);

    &--em {
      font-weight: bold;
    }
  }

  &__contents {
    @include font-line(14, 20);
  }
}
