@use "../../../core" as *;

.p-payment-method01 {
  margin-top: 16px;

  &__list {
    &-legend {
      @include visually-hidden;
    }
  }

  &__item {
    $this: &;

    position: relative;
    background-color: $color_white;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color_gray_30;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:first-child {
      border-radius: 15px 15px 0 0;
    }

    &:last-child {
      border-radius: 0 0 15px 15px;
    }

    &--selected {
      box-shadow: 0 0 0 2px $color_primary_blue inset;
    }
    &:first-child,
    &--selected,
    &--selected + #{$this} {
      &::before {
        display: none;
      }
    }
  }

  &__title {
    width: 100%;

    &-inner {
      display: block;
      padding: 16px 56px 16px 16px;

      &::after {
        @include clearfix;
      }
    }

    &-label,
    &-status {
      display: block;
    }

    &-label {
      float: left;
      margin-top: 3px;
      padding-right: 8px;
      @include font-line(16, 22.4);
    }

    &-status {
      float: right;
      font-weight: bold;
    }
  }

  &__btn {
    width: 22px;
    height: 22px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    z-index: 2;
  }
}
@include is-tb {
  .p-payment-method01 {
    &__box {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    &__item {
      width: calc(100% / 3 - 8px);
      border-radius: 15px;

      &:first-child,
      &:last-child {
        border-radius: 15px;
      }

      &::before {
        display: none;
      }
    }

    &__title {
      width: 100%;

      &-label,
      &-status {
        float: none;
      }

      &-label {
        margin-top: 0;
        padding-right: 0;
      }

      &-label + &-status {
        margin-top: 4px;
      }
    }

    &__btn {
      width: 22px;
      height: 22px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 16px;
      bottom: 0;
      z-index: 2;
    }
  }
}
