@use "../../../core" as *;

.p-plan-passenger {
  margin-top: 16px;
  padding: 16px;
  border-radius: 15px;
  background: $color_white;

  &--disabled {
    background-color: $color_gray_10;
    color: $color_gray_70;

    .c-float-list01 {
      &__title {
        color: $color_gray_70;
      }
    }
  }
}

@include is-tb {
  .p-plan-passenger {
    padding: 20px 24px;
  }
}
