@use "../../../core" as *;

.p-review-changes03 {
  &__frame {
    margin: 16px -4vw 0;
    padding: 0 4vw;
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    gap: 12px;
    overflow: auto;

    &-item {
      min-width: 315px;
      background-color: $color_gray_10;
      border-radius: 15px;
    }
  }

  &__item {
    width: 100%;
    background-color: $color_white;
    border-radius: 15px;
  }

  &__title {
    padding: 16px;

    &-label {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid $color_gray_90;

      &--em {
        font-weight: bold;
      }
    }

    &-tag {
      margin-bottom: 8px;
    }

    &-date {
      font-weight: bold;
      @include font-line(20, 26);
    }

    &-elapsed {
      @include font-line(16, 22.4);
    }
  }

  &__contents {
    $body: &;

    padding-bottom: 16px;
    border-radius: 0 0 15px 15px;

    &-item {
      padding-top: 16px;
      background-color: $color_white;

      &:first-child {
        padding-top: 0;
      }
    }

    &-inner {
      padding: 0 16px;
    }

    .p-flight-detail01 {
      &__block {
        &--gray10 {
          &:first-child {
            padding-top: 16px;
          }

          &:last-child {
            padding-bottom: 16px;
          }
        }
      }
    }

    &--gray10 {
      background-color: $color_gray_10;
      padding-top: 16px;
      #{$body} {
        &-item {
          background-color: $color_gray_10;
        }
      }
      &#{$body} {
        .p-flight-detail01 {
          &__block {
            &:first-child {
              padding-top: 16px;
            }

            &:last-child {
              padding-bottom: 16px;
            }

            &--gray10 {
              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &__other {
    position: relative;
    width: 315px;
    padding: 16px 0 16px 36px;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: calc(100% + 2px);
      background-color: $color_gray_40;
      border-radius: 0 0 2px 2px;
      position: absolute;
      top: 0;
      left: 20px;
    }

    &-item {
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-text {
      @include font-line(16, 22.4);
    }
  }

  .p-flight-detail01 {
    &__detail {
      &-info {
        &-title {
          @include visually-hidden;
        }

        &-item {
          &--service {
            display: block;

            .p-flight-detail01 {
              &__detail {
                &-info {
                  &-title {
                    @include visually-hidden-reset;

                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@include is-tb {
  .p-review-changes03 {
    &__frame {
      margin: 16px 0 0;
      padding: 0;

      &-item {
        width: 49.1525%;
      }
    }

    &__title {
      padding: 20px 24px 16px;
    }

    &__contents {
      padding-bottom: 20px;

      &-inner {
        padding: 0 24px;
      }

      &--gray10 {
        padding-top: 20px;
      }
    }

    &__other {
      width: 49.1525%;
    }

    .p-flight-detail01 {
      &__item {
        &--2col {
          .p-flight-detail01 {
            &__time {
              width: 135px;
            }

            &__detail {
              width: calc(100% - 135px);
            }
          }
        }
      }
    }
  }
}
@include is-tb {
  .p-review-changes03 {
    &__frame {
      &-item {
        width: 49.2788%;
      }
    }

    &__other {
      padding: 16px 0 16px 44px;

      &::before {
        left: 28px;
      }
    }
  }
}
