@use "../../../core" as *;

.p-sub-column-layout04 {
  margin-top: 160px;
  position: sticky;
  top: 0;
  left: 0;

  &__body {
    &-item {
      margin-top: 16px;
      border-top: 1px solid $color_gray_90;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__list {
    &-item {
      border-bottom: 1px solid $color_gray_20;
    }

    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      @include font-line(16, 22.4);

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        background: url("~/assets/images/icon_chevron_right_20.svg") no-repeat center center;
      }
    }
  }
}
