@use "../../../core" as *;

.p-support-info {
  padding: 16px;

  &__head {
    &-title {
      @include font-line(20, 26);

      font-weight: bold;
    }
  }

  &__body {
    margin-top: 16px;
  }

  &__item {
    padding: 16px 0;

    & + & {
      border-top: 1px solid $color_gray_10;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:only-child {
      padding: 0;
    }

    &-title {
      margin-bottom: 8px;
      @include font-line(16, 22.4);

      font-weight: bold;
    }

    &-column {
      $column: &;

      display: flex;
      gap: 0 8px;

      &-box {
        flex-grow: 1;
      }

      &--3 {
        #{$column}-box {
          width: 110px;
        }
      }
    }
  }

  &__row {
    & + & {
      margin-top: 12px;
    }

    &-title {
      margin-bottom: 8px;
      @include font-line(14, 19.6);

      font-weight: bold;
    }

    &-subtext {
      margin-top: 4px;
    }
  }

  &__checkbox {
    $checkbox: &;

    &-legend {
      @include visually-hidden;
    }

    &-item {
      position: relative;

      & + & {
        margin-top: 12px;
      }

      &-input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;

        &:checked {
          + #{$checkbox}-item-label {
            border: 1px solid $color_ado_blue;
            box-shadow: 0 0 0 1px $color_ado_blue;
            #{$checkbox}-item-check {
              &::before {
                background-color: $color_ado_blue;
                border-color: $color_ado_blue;
              }

              &::after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: -1px;
                top: -1px;
                background: url("~/assets/images/icon_checkbox_checked_white_24.svg") no-repeat center center;
                background-size: cover;
              }
            }
            #{$checkbox}-item-text {
              font-weight: bold;
            }
          }
        }

        &:focus-within {
          + #{$checkbox}-item-label {
            border: 1px solid $color_ado_blue;
            box-shadow: 0 0 0 1px $color_ado_blue inset, 0 0 10px rgb(0 0 0 / 20%);
          }
          #{$checkbox}-item-text {
            font-weight: bold;
          }
        }
      }

      &-label {
        display: flex;
        align-items: center;
        padding: 16px;
        border: 1px solid $color_ado_gray;
        border-radius: 10px;
        cursor: pointer;
      }

      &-check {
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid $color_gray_40;
          border-radius: 3px;
        }
        + #{$checkbox}-item-text-wrap {
          margin-left: 8px;
        }
      }

      &-text {
        display: block;
        @include font-line(16, 22.4);
        + #{$checkbox}-item-guidance {
          margin-top: 4px;
        }
      }

      &-guidance {
        display: block;
        color: $color_ado_red01;
        @include font-line(14, 19.6);
      }

      &:focus-visible {
        + #{$checkbox}-item-label {
          @include form-element-checkbox-radio-focus;
        }
      }
    }
  }

  &__radio {
    $checkbox: &;

    &-legend {
      @include visually-hidden;
    }

    &-item {
      position: relative;

      & + & {
        margin-top: 12px;
      }

      &-input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;

        &:checked {
          + #{$checkbox}-item-label {
            border: 1px solid $color_ado_blue;
            box-shadow: 0 0 0 1px $color_ado_blue;
            #{$checkbox}-item-check {
              &::before {
                background-color: transparent;
                border-color: $color_gray_40;
              }

              &::after {
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                position: absolute;
                left: 4px;
                top: 4px;
                background-color: $color_ado_lightblue01;
              }
            }
            #{$checkbox}-item-text {
              font-weight: bold;
            }
          }
        }

        &:focus-within {
          + #{$checkbox}-item-label {
            border: 1px solid $color_ado_blue;
            box-shadow: 0 0 0 1px $color_ado_blue inset, 0 0 10px rgb(0 0 0 / 20%);
          }
          #{$checkbox}-item-text {
            font-weight: bold;
          }
        }
      }

      &-label {
        display: flex;
        align-items: center;
        padding: 16px;
        border: 1px solid $color_ado_gray;
        border-radius: 10px;
        cursor: pointer;
      }

      &-check {
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid $color_gray_40;
          background-color: $color_white;
          border-radius: 50%;
        }
        + #{$checkbox}-item-text-wrap {
          margin-left: 8px;
        }
      }

      &-text {
        display: block;
        @include font-line(16, 22.4);
        + #{$checkbox}-item-guidance {
          margin-top: 4px;
        }
      }

      &-guidance {
        display: block;
        color: $color_ado_red01;
        @include font-line(14, 19.6);
      }

      &:focus-visible {
        + #{$checkbox}-item-label {
          @include form-element-checkbox-radio-focus;
        }
      }
    }
  }

  &__attention {
    display: flex;
    @include font-line(14, 19.6);

    padding: 12px 8px;
    border: 1px solid $color_gray_30;
    border-radius: 10px;

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 0.4em;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_guidance_ado_red_20.svg") no-repeat center center;
    }

    &-text {
      color: $color_text_ado_red01;
    }

    &-link {
      display: inline-block;
      color: $color_text_ado_blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include is-tb {
  .p-support-info {
    padding: 20px 24px;
  }
}
