@use "../../../core" as *;

.p-top-seatmap-passenger {
  $this: &;

  position: relative;
  background-color: $color_white;

  &__wrap {
    padding: 16px 0;
  }

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-line(16, 22.4);

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      padding-right: 16px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-num {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        background: url("~/assets/images/icon_square_line_ado_blue_30.svg") center no-repeat;
        background-size: cover;
        color: $color_text_ado_blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }

      &-label {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &-member {
          font-weight: bold;
        }

        &-sub {
          @include font-line(14, 19.6);
        }

        &-member,
        &-sub {
          display: block;
        }
      }
    }

    &-status {
      flex-shrink: 0;
      @include font-line(14, 19.6);

      color: $color_gray_60;
    }

    &-unit {
      flex-shrink: 0;
    }

    &.is-open {
      #{$this} {
        &__unit {
          &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: url("~/assets/images/icon_chevron_up_ado_blue_20.svg");
            background-size: 20px auto;
          }
        }
      }
    }
  }

  &__body {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    z-index: 500;

    &.is-open {
      display: block;
    }
  }

  &__menu {
    background-color: $color_white;
    border-radius: 15px;
    padding-left: $contents-garter-unit;

    &-item {
      $item: &;

      border-top: 1px solid $color_gray_10;

      &-wrap {
        margin-left: -$contents-garter-unit;
      }

      .c-seatmap-passenger-btn {
        padding-right: $contents-garter-unit;
        padding-left: $contents-garter-unit;
        border-bottom: 1px solid $color_white;
        border-radius: 15px;

        &__title {
          &-label {
            &-member {
              font-weight: normal;
            }
          }
        }

        &.is-current {
          .c-seatmap-passenger-btn__title {
            &-label {
              &-member {
                font-weight: bold;
              }
            }
          }
        }

        &.is-selected {
          .c-seatmap-passenger-btn__title {
            &-label {
              &-sub {
                color: $color_ado_blue;
              }

              &-member,
              &-sub {
                font-weight: bold;
              }
            }
          }
        }
      }

      &:first-child {
        border-top: 0 !important;

        .c-seatmap-passenger-btn {
          border-radius: 0 0 15px 15px;
        }
      }

      &.is-current {
        border-top: 1px solid $color_white;
        & + #{$item} {
          border-top: 1px solid $color_white;
        }
      }
    }
  }

  &__unit {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_chevron_down_ado_blue_20.svg");
      background-size: 20px auto;
      margin-left: 8px;
    }
  }

  .l-wrap {
    &__inner {
      position: relative;
    }
  }
}

@include is-tb {
  .p-top-seatmap-passenger {
    &__menu {
      padding-left: $contents-garter-tb-unit;

      &-item {
        &-wrap {
          margin-left: -$contents-garter-tb-unit;
        }
      }
    }

    .c-seatmap-passenger-btn {
      padding-right: $contents-garter-tb-unit;
      padding-left: $contents-garter-tb-unit;
    }
  }
}

@include is-pc {
  .p-top-seatmap-passenger {
    &__body {
      width: calc(100% - $contents-garter-tb-unit * 2);
    }

    &__menu {
      padding-left: 28px;

      &-item {
        &-wrap {
          margin-left: -28px;
        }
      }
    }

    .c-seatmap-passenger-btn {
      padding-right: 28px;
      padding-left: 28px;
    }
  }
}
