@use "../../../core" as *;

.p-travel-summary {
  position: relative;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -$contents-garter + vw;
    width: 100vw;
    height: 1px;
    background-color: $color_gray_10;
  }

  &__inner {
    padding: 16px;
    border-radius: 15px;
    background-color: $color_white;
  }

  &__title {
    @include font-line(20, 26);

    font-weight: bold;
  }

  &__list {
    margin-top: 8px;
    display: flex;

    &-box {
      flex: 1;
      padding: 0 12px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &-title {
        color: $color_gray_60;
        @include font-line(14, 19.6);
      }

      &-text {
        margin-top: 4px;
        @include font-line(16, 22.4);

        font-weight: bold;
      }
    }

    &-box + &-box {
      border-left: 1px solid $color_gray_20;
    }
  }
}

@include is-tb {
  .p-travel-summary {
    padding-top: 24px;

    &::before {
      left: -$contents-garter-tb + vw;
    }

    &__list {
      &-box {
        flex: none;
        min-width: 107px;
      }
    }
  }
}

@include is-pc {
  .p-travel-summary {
    padding-top: 32px;

    &::before {
      left: 0;
      width: 100%;
    }

    &__title {
      @include font-line(18, 26);
    }

    &__list {
      &-box {
        flex: none;
        min-width: 140px;
      }
    }
  }
}
