<asw-base-modal
  [overlayRef]="overlayRef"
  [title]="title"
  [modalType]="modalType"
  [hasFooter]="false"
  [focusElement]="focusElement"
>
  <div body class="l-modal04__body js-modal-body">
    <div
      class="p-modal-flight-plan"
      *ngIf="seatMapInfo?.isContainedDelayedFlight || seatMapInfo?.isContainedEarlyDepartureFlight"
    ></div>
    <!-- モーダルの中身が入ります -->
    <div class="p-modal-flight-plan" *aswDeviceIf="'pc'">
      <div
        class="c-flight-plan"
        [ngClass]="{
          'c-flight-plan--change': seatMapInfo?.hasRedChar,
          'c-flight-plan--cancelled': boundDetails?.travelSolutionsAvailability?.isUnavailable
        }"
      >
        <div
          class="p-flight-container__announce"
          *ngIf="seatMapInfo?.isContainedDelayedFlight || seatMapInfo?.isContainedEarlyDepartureFlight"
        >
          <div class="p-flight-container__announce-item">
            <!-- 遅延情報 -->
            <span class="c-tag c-tag--type01" *ngIf="seatMapInfo?.isContainedDelayedFlight"
              ><strong [innerHTML]="'label.delayed' | staticMsg"></strong
            ></span>
            <!-- 早発情報 -->
            <span class="c-tag c-tag--type01" *ngIf="seatMapInfo?.isContainedEarlyDepartureFlight"
              ><strong [innerHTML]="'label.earlyDeparture' | staticMsg"></strong
            ></span>
          </div>
        </div>

        <!-- 出発地 -->
        <p class="c-flight-plan__location c-flight-plan__item-1">
          <em
            *ngIf="seatMapInfo?.departureLocation"
            [ngClass]="{ 'c-flight-plan__location-em': seatMapInfo?.departureLocationEm }"
            [innerHTML]="seatMapInfo?.departureLocation"
          ></em>
        </p>
        <div class="c-flight-plan__time c-flight-plan__item-2">
          <!-- 出発時刻 -->
          <div class="c-flight-plan__time-box" *ngIf="!seatMapInfo?.departureTimeNew">
            <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span>
            <span
              [innerHTML]="seatMapInfo?.departureTime! | dateFormat : 'availability.flightPlan_departuredate.time'"
            ></span>
          </div>
          <!-- 出発時刻 打ち消し線で消した状態 -->
          <ng-container *ngIf="seatMapInfo?.departureTimeNew">
            <div class="c-flight-plan__time-box">
              <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span>
              <span
                [innerHTML]="
                  seatMapInfo?.departureTime! | dateFormat : 'availability.flightPlan_departuredate.time.old'
                "
              ></span>
            </div>
            <!-- 最新出発時刻 -->
            <div class="c-flight-plan__time-box c-flight-plan__time--change">
              <em>
                <span class="u-visually-hidden" [innerHTML]="'reader.newDepartureTime' | staticMsg"></span>
                <ng-container
                  *ngIf="newTimeDisplay(seatMapInfo?.departureTime, seatMapInfo?.departureTimeNew); else elseTemplate"
                >
                  <span
                    [innerHTML]="
                      seatMapInfo?.departureTimeNew! | dateFormat : 'availability.flightPlan_departuredate.time.latest'
                    "
                  ></span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span
                    [innerHTML]="
                      seatMapInfo?.departureTimeNew!
                        | dateFormat : 'availability.flightPlan_departuredate.datetime.latest'
                    "
                  ></span
                ></ng-template>
              </em>
            </div>
          </ng-container>
          <!-- 深夜出発日時 -->
          <div
            class="c-flight-plan__time-date"
            *ngIf="seatMapInfo?.lateNightDepartureDate"
            [ngClass]="{
              'c-flight-plan__time--change': !(seatMapInfo?.lateNightDepartureDate === seatMapInfo?.departureTime)
            }"
          >
            <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
            <em
              ><span
                [innerHTML]="
                  seatMapInfo?.lateNightDepartureDate!
                    | dateFormat
                      : (seatMapInfo?.lateNightDepartureDate === seatMapInfo?.departureTime
                          ? 'availability.flightplan_departuredate.datetime.lateNight'
                          : 'availability.flightplan_departuredate.datetime.lateNight.latest')
                      : true
                "
              ></span
            ></em>
          </div>
        </div>
        <!-- c-flight-plan__period--{{ numberOfConnection }}stop  -->
        <div class="c-flight-plan__period c-flight-plan__item-3">
          <!-- 乗継回数 -->
          <p
            class="c-flight-plan__period-layover"
            *ngIf="seatMapInfo?.numberOfConnection === 0"
            [innerHTML]="'label.nonStopFlight' | staticMsg"
          ></p>
          <p
            class="c-flight-plan__period-layover"
            *ngIf="seatMapInfo?.numberOfConnection !== 0"
            [innerHTML]="'label.connectionCount' | staticMsg : { '0': seatMapInfo?.numberOfConnection }"
          ></p>
          <!-- 所要時間 -->
          <span class="u-visually-hidden" [innerHTML]="'reader.flightDuration' | staticMsg"></span>
          <p [innerHTML]="seatMapInfo?.duration! | dateFormat : 'availability.flightPlan_flightTotalTime'"></p>
        </div>
        <!-- 到着地 -->
        <p class="c-flight-plan__location c-flight-plan__item-4">
          <em
            *ngIf="seatMapInfo?.destinationLocation"
            [ngClass]="{ 'c-flight-plan__location-em': seatMapInfo?.destinationLocationEm }"
            [innerHTML]="seatMapInfo?.destinationLocation"
          ></em>
        </p>
        <div class="c-flight-plan__time c-flight-plan__item-5">
          <!-- 到着時刻 -->
          <div class="c-flight-plan__time-box" *ngIf="!seatMapInfo?.destinationTimeNew">
            <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span>
            <span
              [innerHTML]="seatMapInfo?.destinationTime! | dateFormat : 'availability.flightPlan_departuredate.time'"
            ></span>
          </div>
          <!-- 到着時刻 打ち消し線で消した状態 -->
          <ng-container *ngIf="seatMapInfo?.destinationTimeNew">
            <div class="c-flight-plan__time-box">
              <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span
              ><span
                [innerHTML]="
                  seatMapInfo?.destinationTime! | dateFormat : 'availability.flightPlan_departuredate.time.old'
                "
              ></span>
            </div>
            <!-- 最新到着時刻 -->
            <div class="c-flight-plan__time-box c-flight-plan__time--change">
              <em>
                <span class="u-visually-hidden" [innerHTML]="'reader.newArrivalTime' | staticMsg"></span>
                <ng-container
                  *ngIf="
                    newTimeDisplay(seatMapInfo?.destinationTime, seatMapInfo?.destinationTimeNew);
                    else elseTemplate
                  "
                >
                  <span
                    [innerHTML]="
                      seatMapInfo?.destinationTimeNew!
                        | dateFormat : 'availability.flightPlan_departuredate.time.latest'
                    "
                  ></span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span
                    [innerHTML]="
                      seatMapInfo?.destinationTimeNew!
                        | dateFormat : 'availability.flightPlan_departuredate.datetime.latest'
                    "
                  ></span
                ></ng-template>
              </em>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="p-modal-flight-plan__item">
        <div class="c-flight-detail-overview02">
          <span class="u-visually-hidden">Operation</span
          ><span class="p-modal-flight-plan__item-ana">
            <!-- 運航キャリア識別 -->
            <!-- ANAロゴを表す画像 -->
            <span class="c-ana-icon01">
              <img
                class="c-ana-icon01__img"
                src="{{ appConstants.IMG.PARTNER_COMPANY_ICON }}"
                width="{{ appConstants.IMG.LOGO_S_WIDTH }}"
                height="{{ appConstants.IMG.LOGO_S_HEIGHT }}"
                [alt]="'alt.nhFlight' | staticMsg"
                *ngIf="seatMapInfo?.isAllNhGroupOperated"
              />
              <!-- 運航キャリア名称 -->
              <span
                class="c-asam-icon01__text"
                [ngClass]="{
                  'c-asam-icon01__text--dark': boundDetails?.travelSolutionsAvailability?.isUnavailable
                }"
                *ngIf="
                  seatMapInfo && seatMapInfo.operatingAirlinesArray && seatMapInfo.operatingAirlinesArray.length > 0
                "
              >
                <div
                  [outerHTML]="'label.segmanetOpCarrierWording' | staticMsg : { '0': contactOperatingAirlinesName }"
                ></div>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>

    <ng-container *aswDeviceIf="'pc'">
      <ng-container *ngIf="boundDetails?.numberOfConnection !== 0; else elseTemplate">
        <div class="p-drawer-menu-member p-drawer-menu-member--border-top">
          <dl class="c-def-list01 c-def-list01--border-none">
            <div
              *ngFor="let fareFamily of fareFamilies; let i = index"
              class="c-def-list01__item c-def-list01__item--seat"
            >
              <ng-container *ngIf="!isAllUnableFareFamilyCodes?.includes(fareFamily.fareFamilyCode)">
                <dt
                  class="c-def-list01__item-title c-def-list01__item-title--transit"
                  [innerHTML]="getFareFamilyName(fareFamily) | staticMsg"
                ></dt>
                <dd class="c-def-list01__item-body">
                  <ul class="p-drawer-menu-member__list">
                    <li
                      *ngFor="let segment of boundDetails?.segments; let i = index"
                      class="p-drawer-menu-member__item p-drawer-menu-member__item--transit"
                      [ngClass]="{ 'p-drawer-menu-member__item--border-top': i === 0 }"
                    >
                      <a
                        id="p-drawer-menu-member__item--transit-pc-{{ i }}"
                        href="#"
                        class="p-drawer-menu-member__link p-drawer-menu-member__link--external"
                        target="_blank"
                        tabindex="0"
                        aswThrottleClick
                        [attr.aria-label]="
                          'reader.displaySeatmapNoFare'
                            | staticMsg
                              : {
                                  '0': getFlightNo(segment),
                                  '1': cabinKey(fareFamily.fareFamilyCode) | staticMsg,
                                  '2': total(fareFamily.fareFamilyCode)
                                }
                        "
                        (throttleClick$)="openSeatMap(boundDetails?.segments?.[i]!, fareFamily.fareFamilyCode)"
                      >
                        <span class="p-drawer-menu-member__link-wrap">
                          <span class="p-drawer-menu-member__link-label p-drawer-menu-member__link-label--block">{{
                            getLocationName(segment.departure, segment.arrival)
                          }}</span>
                          <span class="p-drawer-menu-member__link-label p-drawer-menu-member__link-label--block"
                            >{{ segment.marketingAirlineCode }}{{ segment.marketingFlightNumber }}</span
                          >
                        </span>
                        <span class="u-visually-hidden"><asw-indicator-popup></asw-indicator-popup></span>
                      </a>
                    </li>
                  </ul></dd
              ></ng-container>
            </div>
          </dl>
        </div>
      </ng-container>

      <ng-template #elseTemplate>
        <div class="p-drawer-menu-member">
          <div
            class="p-drawer-menu-member__item p-drawer-menu-member__item--text p-drawer-menu-member__item--border-top"
          >
            <p class="c-text" [innerHTML]="'label.selectSeatMapExplanation' | staticMsg"></p>
          </div>

          <ul class="p-drawer-menu-member__list p-drawer-menu-member__list--border-top">
            <li
              *ngFor="let fareFamily of fareFamilies; let i = index"
              class="p-drawer-menu-member__item p-drawer-menu-member__item--normal"
            >
              <ng-container *ngIf="!isAllUnableFareFamilyCodes?.includes(fareFamily.fareFamilyCode)">
                <a
                  id="p-drawer-menu-member__item--normal-{{ i }}"
                  href="#"
                  class="p-drawer-menu-member__link p-drawer-menu-member__link--external"
                  target="_blank"
                  tabindex="0"
                  aswThrottleClick
                  [attr.aria-label]="
              'reader.displaySeatmapNoFare'
                | staticMsg : { '0': getFlightNo(boundDetails?.segments?.[0]!), '1': cabinKey(fareFamily.fareFamilyCode) | staticMsg, '2': total(fareFamily.fareFamilyCode) }
            "
                  (throttleClick$)="openSeatMap(boundDetails?.segments?.[0]!,fareFamily.fareFamilyCode)"
                >
                  <span class="p-drawer-menu-member__link-wrap">
                    <span
                      class="p-drawer-menu-member__link-label c-text-m c-text-m--bold"
                      [innerHTML]="getFareFamilyName(fareFamily) | staticMsg"
                    ></span>
                  </span>
                  <span class="u-visually-hidden"><asw-indicator-popup></asw-indicator-popup></span> </a
              ></ng-container>
            </li>
          </ul></div></ng-template
    ></ng-container>

    <ng-container *aswDeviceIf="'notPc'">
      <ng-container *ngIf="boundDetails?.numberOfConnection !== 0; else elseTemplate">
        <div class="p-drawer-menu-member p-drawer-menu-member--border-top">
          <dl class="c-def-list01 c-def-list01--border-none">
            <div class="c-def-list01__item c-def-list01__item--seat">
              <dt
                class="c-def-list01__item-title c-def-list01__item-title--transit"
                [innerHTML]="getFareFamilyName(fareFamily!) | staticMsg"
              ></dt>
              <ng-container *ngIf="!isAllUnableFareFamilyCodes?.includes(fareFamily?.fareFamilyCode!)">
                <dd class="c-def-list01__item-body">
                  <ul class="p-drawer-menu-member__list">
                    <li
                      *ngFor="let segment of boundDetails?.segments; let i = index"
                      class="p-drawer-menu-member__item p-drawer-menu-member__item--transit"
                      [ngClass]="{ 'p-drawer-menu-member__item--border-top': i === 0 }"
                    >
                      <a
                        id="p-drawer-menu-member__item--transit-notPc-{{ i }}"
                        href="#"
                        class="p-drawer-menu-member__link p-drawer-menu-member__link--external"
                        target="_blank"
                        tabindex="0"
                        aswThrottleClick
                        [attr.aria-label]="
                          'reader.displaySeatmapNoFare'
                            | staticMsg
                              : {
                                  '0': getFlightNo(segment),
                                  '1': cabinKey(fareFamily!.fareFamilyCode) | staticMsg,
                                  '2': total(fareFamily!.fareFamilyCode)
                                }
                        "
                        (throttleClick$)="openSeatMap(boundDetails?.segments?.[i]!,fareFamily?.fareFamilyCode!)"
                      >
                        <span class="p-drawer-menu-member__link-wrap">
                          <span class="p-drawer-menu-member__link-label p-drawer-menu-member__link-label--block">{{
                            getLocationName(segment.departure, segment.arrival)
                          }}</span>
                          <span class="p-drawer-menu-member__link-label p-drawer-menu-member__link-label--block"
                            >{{ segment.marketingAirlineCode }}{{ segment.marketingFlightNumber }}</span
                          >
                        </span>
                        <span class="u-visually-hidden"><asw-indicator-popup></asw-indicator-popup></span>
                      </a>
                    </li>
                  </ul></dd
              ></ng-container>
            </div>
          </dl>
        </div>
      </ng-container>

      <ng-template #elseTemplate>
        <div class="p-drawer-menu-member">
          <div
            class="p-drawer-menu-member__item p-drawer-menu-member__item--text p-drawer-menu-member__item--border-top"
          >
            <p class="c-text" [innerHTML]="'label.selectSeatMapExplanation' | staticMsg"></p>
          </div>

          <ul class="p-drawer-menu-member__list p-drawer-menu-member__list--border-top">
            <li class="p-drawer-menu-member__item p-drawer-menu-member__item--normal">
              <ng-container *ngIf="!isAllUnableFareFamilyCodes?.includes(fareFamily?.fareFamilyCode!)">
                <a
                  id="p-drawer-menu-member__item--normal-{{ 0 }}"
                  href="#"
                  class="p-drawer-menu-member__link p-drawer-menu-member__link--external"
                  target="_blank"
                  tabindex="0"
                  aswThrottleClick
                  [attr.aria-label]="
                'reader.displaySeatmapNoFare'
                  | staticMsg : { '0': getFlightNo(boundDetails?.segments?.[0]!), '1': cabinKey(fareFamily!.fareFamilyCode) | staticMsg, '2': total(fareFamily!.fareFamilyCode) }
              "
                  (throttleClick$)="openSeatMap(boundDetails?.segments?.[0]!,fareFamily?.fareFamilyCode!)"
                >
                  <span class="p-drawer-menu-member__link-wrap">
                    <span
                      class="p-drawer-menu-member__link-label c-text-m c-text-m--bold"
                      [innerHTML]="getFareFamilyName(fareFamily!) | staticMsg"
                    ></span>
                  </span>
                  <span class="u-visually-hidden"><asw-indicator-popup></asw-indicator-popup></span> </a
              ></ng-container>
            </li>
          </ul></div
      ></ng-template>
    </ng-container>
  </div>
</asw-base-modal>
