<asw-vacant-seat-item-pres
  [scrollShadow$]="scrollShadow$"
  [isFirstCells]="isFirstCells"
  [boundDetails]="boundDetails"
  [boundInfo]="boundInfo"
  [airBoundInfo]="airBoundInfo"
  [selectedAirBound]="selectedAirBound"
  [isContainedDelayedFlight]="isContainedDelayedFlight"
  [isContainedEarlyDepartureFlight]="isContainedEarlyDepartureFlight"
  [departureLocation]="departureLocation"
  [departureLocationEm]="departureLocationEm"
  [destinationLocation]="destinationLocation"
  [destinationLocationEm]="destinationLocationEm"
  [departureTime]="departureTime"
  [departureTimeMeridian]="departureTimeMeridian"
  [departureTimeNew]="departureTimeNew"
  [departureTimeNewMeridian]="departureTimeNewMeridian"
  [destinationTime]="destinationTime"
  [destinationTimeMeridian]="destinationTimeMeridian"
  [destinationTimeNew]="destinationTimeNew"
  [destinationTimeNewMeridian]="destinationTimeNewMeridian"
  [isLateNightDeparture]="isLateNightDeparture"
  [lateNightDepartureDate]="lateNightDepartureDate"
  [numberOfConnection]="numberOfConnection"
  [duration]="duration"
  [arrivalDaysDifference]="arrivalDaysDifference"
  [hasRedChar]="hasRedChar"
  [isAllNhGroupOperated]="isAllNhGroupOperated"
  [operatingAirlinesArray]="operatingAirlinesArray"
  [isAllUnableFareFamilyCodes]="isAllUnableFareFamilyCodes"
  (selectFareFamily$)="selectFareFamily($event)"
  (seatMapClick$)="seatMapClick()"
  (waitingCountsClick$)="waitingCountsClick()"
  (scrollButtonClick$)="scrollButtonClick($event)"
>
</asw-vacant-seat-item-pres>
