@use "../../../core" as *;

.c-flight-plan {
  $this: &;

  display: flex;
  flex-wrap: wrap;

  &__location {
    @include font-line(14, 19.6);

    &-em {
      font-weight: bold;
    }
  }

  &__item {
    &-1 {
      order: 1;
      width: 50%;
    }

    &-2 {
      order: 3;
      flex-shrink: 0;
    }

    &-3 {
      order: 4;
      flex: 1;
      margin-top: 4px;
      padding: 0 22px;
      text-align: center;
    }

    &-4 {
      order: 2;
      flex-shrink: 0;
      width: 50%;
      text-align: right;
    }

    &-5 {
      order: 5;
      text-align: right;
      #{$this} {
        &__time {
          &-box {
            display: flex;
            justify-content: flex-end;
          }

          &-date {
            text-align: right;
          }
        }
      }
    }
  }

  &__time {
    &-box {
      display: flex;
      align-items: baseline;
      width: 100%;
      margin-top: 8px;
    }

    &-val {
      @include font-line(26, 32);

      font-weight: bold;
    }

    &-meridian {
      margin-left: 4px;
      @include font-line(16, 22.4);
    }

    &-text {
      @include font-line(14, 19.6);
    }
  }

  &__period {
    $period: &;
    @include font-line(14, 19.6);

    &-time {
      position: relative;
      padding-top: 4px;
      border-top: 2px solid $color_gray_10;
    }

    &--0stop {
      padding: 0 8px;
    }

    &--1stop {
      #{$period}-time {
        &::before {
          content: "";
          position: absolute;
          top: -3px;
          left: 50%;
          width: 4px;
          height: 4px;
          transform: translateX(-2px);
          border-radius: 50%;
          background-color: $color_text_base;
        }
      }
    }

    &--2stop {
      #{$period}-time {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: -3px;
          left: 50%;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $color_text_base;
        }

        &::before {
          transform: translateX(-11px);
        }

        &::after {
          transform: translateX(11px);
        }
      }
    }
  }

  &--change {
    #{$this} {
      &__time {
        &-box {
          &:not(:first-child) {
            margin-top: 0;
            #{$this}__time {
              &-val,
              &-meridian {
                color: $color_text_ado_red01;
              }
            }
          }
        }

        &-text {
          color: $color_text_ado_red01;
        }
      }
    }
  }

  &--cancelled {
    #{$this}__period-time {
      border-top: 2px solid $color_gray_30;
    }
  }
}
