@use "../../../core" as *;

.c-next-action02 {
  $this: &;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 16px 12px 16px 16px;
  border-radius: 10px;
  border: 1px solid $color_gray_30;
  background-color: $color_white;

  &::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: url("~/assets/images/icon_chevron_right_20.svg") no-repeat center center;
  }

  &__body {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-right: 12px;
    @include font-line(16, 22.4);
  }

  &__title {
    $title: &;
    @include font-line(16, 22.4);

    &-item {
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    &--em {
      font-weight: bold;
    }

    &--inline {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 16px;
      #{$title} {
        &-item {
          margin-top: 0;
          flex-shrink: 0;
        }
      }
    }
  }

  &__icon {
    &-text {
      margin-left: 8px;

      &--em {
        font-weight: bold;
      }

      &--ml12 {
        margin-left: 12px;
      }
    }

    &--has-text {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  &--blank {
    &::after {
      width: 16px;
      height: 16px;
      background: url("~/assets/images/icon_external_ado_blue_16.svg") no-repeat center center;
    }
  }
}
