@use "../../../core" as *;

.c-passenger-display {
  display: flex;
  @include font-line(14, 19.6);

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url("~/assets/images/icon_avator_ado_blue_20.svg") no-repeat;
    flex-shrink: 0;
  }

  &__passenger {
    display: block;
  }
}
