@use "../../../core" as *;

.c-promotion-applied {
  display: flex;
  align-items: center;
  @include font-line(16, 22.4);

  &__img {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__text {
    display: block;
    margin-left: 8px;
  }
}
