@use "../../../core" as *;

.c-remaining-seats {
  &__data {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &-item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      border-radius: 40px;
      background-color: $color_gray_5;
    }

    &-title {
      flex-shrink: 0;
    }

    &-contents {
      min-height: 28px;
      padding: 4px 14px 4px 8px;
      color: $color_gray_70;

      &--hide {
        @include visually-hidden;
      }
    }
  }

  &__load + &__data {
    margin-top: 8px;
  }

  &__btn {
    $btn: &;

    color: $color_primary_blue;

    &-text {
      margin-right: 4px;
    }

    &:disabled {
      color: $color_gray_40;
      cursor: default;
    }

    &:not(:disabled):hover {
      #{$btn}-text {
        text-decoration: underline;
      }
    }
  }
}
