@use "../../../core" as *;

.c-service-card {
  &01 {
    $this01: &;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $color_white;
    border-radius: 16px;
    padding: 8px 8px 12px;

    &--applied {
      box-shadow: 0 0 0 2px $color_primary_blue inset;
    }

    &__icon {
      width: 64px;
      height: 64px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &--baggage {
        background-image: url("~/assets/images/icon_service_baggage_primary_64.svg");
      }

      &--juinor-pilot {
        background-image: url("~/assets/images/icon_service_juniorpilot_primary_64.svg");
      }

      &--airport-service {
        background-image: url("~/assets/images/icon_service_airportservice_primary_64.svg");
      }

      &--travel-with-pet {
        background-image: url("~/assets/images/icon_service_travelwithpet_primary_64.svg");
      }

      &--insurance {
        background-image: url("~/assets/images/icon_service_insurance_primary_64.svg");
      }

      &--support {
        background-image: url("~/assets/images/icon_service_support_primary_64.svg");
      }

      &--pre {
        width: 74px;
        background-image: url("~/assets/images/icon_service_pre_primary_74x64.svg");
      }

      &--cancellation-insurance {
        background-image: url("~/assets/images/icon_service_cancellationinsurance_primary_64.svg");
      }

      &--shopping {
        background-image: url("~/assets/images/icon_service_shopping_primary_64.svg");
      }

      &--my-car-vallet {
        background-image: url("~/assets/images/icon_service_mycarvallet_primary_64.svg");
      }

      &--lounge {
        background-image: url("~/assets/images/icon_service_lounge_primary_64.svg");
      }

      &--asr {
        background-image: url("~/assets/images/icon_service_asr_primary_64.svg");
      }

      &--meal {
        background-image: url("~/assets/images/icon_service_meal_primary_64.svg");
      }

      &--post {
        width: 73px;
        background-image: url("~/assets/images/icon_service_post_primary_73x64.svg");
      }
    }

    &__title {
      @include font-line(16, 22.4);

      font-weight: bold;
      color: $color_text_primary_blue;
      text-align: center;
    }

    &__text {
      @include font-line(12, 16.8);

      color: $color_gray_70;
      text-align: center;
    }

    &__btn {
      margin-top: 8px;
    }

    &__applied {
      margin-top: 10px;
      display: flex;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("~/assets/images/icon_check_primary_20.svg") no-repeat center center;
        background-size: cover;
        flex-shrink: 0;
      }

      &-text {
        flex: 1;
        @include font-line(14, 19.6);

        color: $color_text_primary_blue;
      }
    }

    &__unpaid {
      margin-top: 12px;
      @include font-line(14, 19.6);

      color: $color_text_secondary_red;
    }
  }
}
