@use "../../../core" as *;

.c-tag-lowest-price {
  display: inline-block;
  @include font-line(12, 16.8);

  color: $color_text_primary_blue;
  background: $color_orange01;
  padding: 2px 8px;
  border-radius: 4px;

  &--s {
    padding: 0 4px;
  }
}
