@use "../../../core" as *;

.c-usual-information {
  &01 {
    $this01: &;

    background: $color_ado_lightblue02;
    padding: 12px 16px;
    border-radius: 10px;

    &__title {
      @include font-line(16, 22.4);

      font-weight: bold;
      margin-bottom: 16px;
    }

    &__item {
      &-title {
        @include font-line(14, 19.6);

        font-weight: bold;
        margin-bottom: 8px;
      }

      & + & {
        margin-top: 16px;
        border-top: 1px solid $color_secondary_blue;
        padding-top: 16px;
      }
    }

    &__btn {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      gap: 0 8px;

      &--mt16 {
        margin-top: 16px;
      }
    }

    &__details {
      &-btn {
        margin-top: 8px;
        text-align: center;

        > button + button {
          margin-left: 8;
        }
      }
    }

    &__other {
      display: flex;
      flex-flow: column;
      gap: 16px 0;
      margin: 16px 0;

      &-item {
        &::after {
          @include clearfix;
        }

        &-title {
          float: left;
          padding-right: 8px;
          @include font-line(14, 19.6);

          font-weight: bold;
        }

        &-contents {
          float: right;
          @include font-line(16, 22.4);

          text-align: right;
        }
      }
    }
  }
}

@include is-tb {
  .c-usual-information {
    &01 {
      $this01: &;

      &__btn {
        justify-content: flex-end;
      }

      &__details {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &-list {
          flex: 1;
        }

        &-btn {
          margin-top: 0;
          margin-left: 16px;
        }
      }
    }
  }
}
