@use "../../core" as *;

.c-btn-quaternary {
  $this: &;

  display: inline-flex;
  align-items: center;
  border-radius: 120px;
  font-weight: bold;
  color: $color_text_ado_blue;
  background-color: $color_white;
  border: 1px solid $color_white;
  @include font-line(16, 22.4);

  min-height: 46px;
  padding: 4px 24px;

  &:disabled {
    background-color: $color_bg_btn_disabled;
    border: 1px solid $color_bg_btn_disabled;
    color: $color_text_btn_disabled;
    cursor: auto;
    pointer-events: none;
    &#{$this}--external {
      &::after {
        background-image: url("~/assets/images/icon_external_gray60_16.svg");
      }
    }
    &#{$this}--next {
      &::after {
        background-image: url("~/assets/images/icon_chevron_right_gray60_20.svg");
      }
    }
  }

  &__text {
    display: block;
  }

  &--next {
    padding: 4px 12px 4px 24px;

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_chevron_right_ado_blue_20.svg") no-repeat center center;
      background-size: cover;
      margin-left: 0.4em;
    }
  }

  &--external {
    padding: 4px 12px 4px 24px;

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("~/assets/images/icon_external_ado_blue_16.svg") no-repeat center center;
      background-size: cover;
      margin-left: 0.4em;
    }
  }

  &--login {
    min-height: 26px;
    @include font-line(14, 19.6);

    padding: 3px 12px 3px 8px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: url("~/assets/images/icon_login_primary_16.svg") no-repeat center center;
      background-size: cover;
      margin-right: 0.2em;
    }
  }

  &--s {
    min-height: 38px;
    padding: 4px 18px;
    &#{$this}--next,
    &#{$this}--external {
      padding: 4px 8px 4px 18px;
    }
  }

  &--xs {
    min-height: 28px;
    @include font-line(14, 19.6);

    padding: 3px 14px;
    &#{$this}--next,
    &#{$this}--external {
      padding: 3px 6px 3px 14px;
    }
    &#{$this}--login {
      min-height: 28px;
      padding: 3px 12px 3px 8px;
    }
  }

  &--sp-s {
    min-height: 38px;
    padding: 4px 18px;
    &#{$this}--next,
    &#{$this}--external {
      padding: 4px 8px 4px 18px;
    }
  }

  &--min-w100 {
    min-width: 100px;
    justify-content: center;
  }

  &:focus {
    text-decoration: underline;
  }
}
@include is-tb {
  .c-btn-quaternary {
    $this: &;

    &--sp-s {
      @include font-line(16, 22.4);

      min-height: 46px;
      padding: 4px 24px;
      &#{$this}--next,
      &#{$this}--external {
        padding: 4px 12px 4px 24px;
      }
    }
  }
}
@include is-pc {
  .c-btn-quaternary {
    $this: &;

    &--login {
      min-height: 36px;
      padding: 4px 15px 4px 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
