@use "../../core" as *;

.c-loading-bar {
  &__line {
    width: 100%;
    height: 20px;
    margin-top: 16px;
    border-radius: 2px;
    background: $color_gray_10;
    position: relative;
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: linear-gradient(90deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 40%), rgb(255 255 255 / 0%));
      animation: loading-bar-animation 1.2s infinite;
    }

    &--type1 {
      width: 100%;
    }

    &--type2 {
      width: 66%;
    }

    &--type3 {
      width: 33%;
    }
  }
}
@keyframes loading-bar-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
@include is-pc {
  .c-loading-bar {
    &__line {
      height: 22px;
    }
  }
}
