@use "../../core" as *;

.c-radio-list02 {
  $this: &;

  font-size: 0;

  &__legend {
    @include visually-hidden;
  }

  &__wrap {
    position: relative;
    display: inline-flex;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px 8px;
  }

  &__item {
    position: relative;

    &-input {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;

      &:checked {
        + #{$this}__item-label {
          border: 1px solid $color_gray_90;
          background-color: $color_ado_yellow;
          #{$this}__item-text {
            color: $color_text_base;
            font-weight: bold;
          }
        }
      }

      &:focus-visible {
        + #{$this}__item-label {
          outline: 1px solid #222;
          outline-offset: 2px;
        }
      }
    }

    &-label {
      display: flex;
      align-items: center;
      padding: 7px 16px;
      border: 1px solid $color_ado_gray;
      border-radius: 50px;
      cursor: pointer;
    }

    &-text {
      display: block;
      @include font-line(16, 22.4);
    }
  }

  &.is-error {
    #{$this}__wrap {
      &::before {
        content: "";
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        position: absolute;
        left: -4px;
        top: -4px;
        border: 2px solid $color_secondary_red;
        border-radius: 5px;
      }
    }
  }
}
