@use "../../core" as *;

.c-text-link {
  color: $color_linktext_base;
  text-decoration: none;

  &-arrow01 {
    display: inline-flex;
    align-items: center;
    color: $color_text_ado_blue;
    text-decoration: none;
    @include font-line(16, 22.4);

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_chevron_right_ado_blue_20.svg") no-repeat right center;
      background-size: cover;
      flex-shrink: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    &--s {
      @include font-line(14, 22.4);
    }

    &--ss {
      @include font-line(12, 16.8);

      &::after {
        width: 12px;
        height: 12px;
        background: url("~/assets/images/icon_chevron_right_ado_blue_12.svg") no-repeat right center;
        background-size: cover;
        position: relative;
      }
    }

    &--info {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("~/assets/images/icon_guidance_ado_red_20.svg") no-repeat center center;
        background-size: cover;
        flex-shrink: 0;
        margin-right: 4px;
      }
    }
  }

  &-arrow02 {
    display: inline-flex;
    color: $color_text_ado_blue;
    text-decoration: none;
    @include font-line(16, 22.4);

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_chevron_left_ado_blue_20.svg") no-repeat 0 center;
      background-size: cover;
    }

    &:hover {
      text-decoration: underline;
    }

    &--s {
      @include font-line(14, 22.4);
    }
  }

  &-arrow03 {
    display: inline-flex;
    align-items: center;
    color: $color_text_ado_blue;
    text-decoration: none;
    @include font-line(14, 22.4);

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("~/assets/images/icon_chevron_right_ado_blue_20.svg") no-repeat right center;
      background-size: cover;
    }

    &:hover {
      text-decoration: underline;
    }

    &__icon {
      margin-right: 4px;
    }
  }
}

@include is-pc {
  .c-text-link {
    &:hover {
      text-decoration: underline;
    }
  }
}
