<asw-payment-input-pres
[isReadyToshow]="isReadyToShow"
[screenEntry]="screenEntry"
[pnrInfo]="pnrInfo"
[phoneCountryInfoList]="phoneCountryInfoList"
[isDisplayPaymentMethodSelection]="isDisplayPaymentMethodSelection"
[paymentMethod]="paymentMethod"
[currentOfficeInfo]="currentOfficeInfo"
[isChangePaymentMethod]="isChangePaymentMethod"
[isChangeCreditCard]="isChangeCreditCard"
[isCreditCardPayment]="isCreditCardPayment" 
[isAfterStartingFrom]="isAfterStartingFrom" (getAmcMemberInformation) = "getMemberInformation ()" (getAvailabilityPaymentMethod)="getAvailabilityPaymentMethod()"
[(data)]="data"
[parts]="parts"
[prevScreenInfo]="prevScreenInfo" (dataChange) ="dataUpdateEvent(data)" (displayScreenInformation)="displayScreenInformation()"
[isReservationOnly]="screenEntry.isReservationOnly"
[shareholderCoupons]="screenEntry.shareholderCoupons"
[isWaitlisted]="screenEntry.isWaitlisted"
[isContainedShareholdersBenefitDiscountFareByPostCollection]="this.pnrInfo?.air?.isContainedShareholdersBenefitDiscountFareByPostCollection ?? true"
[isContainedShareholdersBenefitDiscountFare]="this.pnrInfo?.air?.isContainedShareholdersBenefitDiscountFare ?? false" 
[deviceId]="deviceId"
><asw-payment-input-pres>