<asw-base-modal
  [overlayRef]="overlayRef"
  [title]="title"
  [modalType]="modalType"
  [hasFooter]="false"
  [focusElement]="focusElement"
>
  <div body class="c-sort">
    <ul class="c-sort-list">
      <li class="c-sort-list__item c-sort-list__item--selected" *ngFor="let sortoption of sortOptions; let i = index">
        <button id="sort-modal-edit-btn-{{ i }}" class="c-sort-list__item-btn c-button-edit" (click)="sort(sortoption)">
          <span
            [ngClass]="{
              'c-sort-list__item-text': sortOrder === sortoption.sortOrder
            }"
            >{{ sortoption.sortName | staticMsg }}
            <img
              src="assets/images/icon_check_primary_20.svg"
              width="20"
              height="20"
              *ngIf="sortOrder === sortoption.sortOrder"
              [alt]="'label.selecting' | staticMsg"
            />
          </span>
        </button>
      </li>
    </ul>
  </div>
</asw-base-modal>
