@use "../core" as *;

.l-dialog02 {
  $this: &;

  display: none;

  &.is-open {
    position: fixed;
    z-index: 8000;
    width: 100%;
    height: 100%;
    background-color: rgb(51 51 51 / 50%);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__contents {
    width: 345px;
    max-width: calc(100% - #{$contents-garter-unit} * 2);
    max-height: calc(100vh - 32px - 32px);
    background-color: $color_white;
    box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    border-radius: 15px;
  }

  &__body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__footer {
    border-top: 1px solid $color_gray_10;
    border-radius: 0 0 15px 15px;
    background-color: $color_white;

    &.is-shadow {
      position: relative;
      border-top: 1px solid $color_white;
      box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    }
  }

  &--w500 {
    #{$this}__contents {
      width: 500px;
    }
  }

  &--w600 {
    #{$this}__contents {
      width: 500px;
    }
  }
}

@include is-tb {
  .l-dialog02 {
    &__contents {
      max-width: calc(100% - #{$contents-garter-tb-unit} * 2);
      max-height: calc(100vh - 56px - 56px);
    }
  }
}
