@use "../core" as *;

.l-modal09 {
  $this: &;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: rgb(51 51 51 / 50%);
  }

  &.is-open {
    #{$this}__bg {
      opacity: 1;
    }
    #{$this}__inner {
      bottom: 0%;
      opacity: 1;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
  }

  &__contents {
    position: relative;
    width: 345px;
    max-height: calc(100vh - 64px - 64px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    background-color: #fff;
    pointer-events: auto;
    z-index: 1;
  }

  &__header {
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid $color_gray_10;
    background-color: $color_white;
  }

  &__body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 15px 15px;

    &:has(+ .l-modal09__footer) {
      border-radius: 0;
    }
  }

  &__footer {
    border-top: 1px solid $color_gray_10;
    border-radius: 0 0 15px 15px;
    background-color: $color_white;

    &.is-shadow {
      position: relative;
      border-top: 1px solid $color_white;
      box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    }

    &--shadowline {
      box-shadow: none;
    }

    &--not-bt {
      border-top: 0;
    }
  }
}
