@use "../core" as *;

.l-modal07 {
  $this: &;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: rgb(51 51 51 / 50%);
  }

  &.is-open {
    #{$this}__bg {
      opacity: 1;
    }
    #{$this}__inner {
      bottom: 0%;
    }
  }

  &__inner {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    transition: bottom 0.4s;
    pointer-events: none;
  }

  &__contents {
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    pointer-events: auto;
    z-index: 1;

    &--gray {
      background-color: $color_gray_5;
      #{$this}__header {
        border-radius: 15px 15px 0 0;
        background-color: $color_white;
      }
    }

    &--bg-gray5 {
      background-color: $color_gray_5;
    }
  }

  &__header {
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid $color_gray_10;
    background-color: $color_white;
  }

  &__body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    &--bg-gray5 {
      background-color: $color_gray_5;
    }
  }

  &__footer {
    border-top: 1px solid $color_gray_10;
    background-color: $color_white;

    &.is-shadow {
      position: relative;
      border-top: none;
      box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    }
  }
}

@include is-pc {
  .l-modal07 {
    $this: &;

    &__inner {
      display: flex;
      justify-content: flex-end;
    }

    &__contents {
      width: 375px;
      height: 100%;
      box-shadow: 0 0 10px rgb(51 51 51 / 20%);
    }
  }
}
