@use "../core" as *;

.l-page-loading {
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: rgb(51 51 51 / 90%);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__contents {
    width: 124px;
    height: 124px;
  }

  &:focus {
    outline: none;
  }

  &02 {
    position: absolute;
    z-index: 9000;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__contents {
      width: 100%;
      padding: 40px 0;
    }

    &__icon {
      margin: 0 auto;
      width: 60px;
      height: 60px;
    }

    &__text {
      text-align: center;
      margin-top: 20px;
      @include font-line(16, 22.4);
    }

    &__promo {
      margin-top: 20px;
    }

    &:focus {
      outline: none;
    }
  }
}

@include is-tb {
  .l-page-loading {
    &02 {
      &__icon {
        margin: 0 auto;
        width: 80px;
        height: 80px;
      }
    }
  }
}
