@use "../core" as *;

.l-top-navi {
  background: $color_gray_80;

  &__inner {
    display: flex;
    width: 100%;
    min-height: 42px;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    @include contents-garter;

    position: relative;

    &--has-progress {
      padding-bottom: 13px;
    }
  }

  &__back {
    &-area {
      width: 24px;
      margin-left: -6px;
    }

    &-link {
      display: block;
      width: 24px;
      height: 24px;

      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("~/assets/images/icon_chevron_left_white_24.svg") no-repeat center center;
        background-size: cover;
      }
    }
  }

  &__heading {
    &-area {
      flex: 1;
      padding: 0 24px;
    }

    &-text {
      @include font-line(18, 21.6);

      color: $color_text_white;
    }
  }

  &__function {
    &-area {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-item {
      color: $color_white;

      &:not(:first-child) {
        margin-left: 16px;
      }
    }

    &-btn {
      display: block;
      color: $color_white;
      $functionBtn: &;

      &--history {
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: url("~/assets/images/icon_history_white_24.svg") no-repeat center center;
          background-size: cover;
        }
      }

      &--favorites {
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: url("~/assets/images/icon_favorite_white_24.svg") no-repeat center center;
          background-size: cover;
        }
      }

      &--share {
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: url("~/assets/images/icon_share_primary_24.svg") no-repeat center center;
          background-size: cover;
        }
      }

      &--modify {
        display: flex;
        align-items: center;
        #{$functionBtn}-text {
          color: $color_text_white;
          font-size: 1.6rem;
          margin-right: 0.4em;
          white-space: nowrap;
        }

        &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url("~/assets/images/icon_edit_white_16.svg") no-repeat center center;
          background-size: cover;
        }
      }

      &--menu {
        display: flex;
        align-items: center;
        #{$functionBtn}-text {
          font-size: 1.6rem;
          margin-right: 0.4em;
          white-space: nowrap;
        }

        &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url("~/assets/images/icon_menu_white_16.svg") no-repeat center center;
          background-size: cover;
        }
      }

      &--confirm {
        #{$functionBtn}-text {
          font-size: 1.6rem;
          margin-right: 0.4em;
          white-space: nowrap;
        }
      }
    }
  }

  &__progress {
    &-area {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $color_white;
    }

    &-list {
      display: flex;
      width: 100%;
    }

    &-item {
      width: 100%;
      height: 4px;
      background-color: $color_gray_20;
      color: $color_text_white;

      &:not(:first-child) {
        margin-left: 2px;
      }

      &--active {
        background-color: $color_ado_yellow;
      }
    }

    &-wrap {
      @include visually-hidden;
    }
  }
}
@include is-pc {
  .l-top-navi {
    &__inner {
      min-height: 50px;
      padding: 12px 0;
    }

    &__heading {
      &-area {
        margin-left: 32px;
        flex: initial;
        padding: 0;
        margin-right: auto;
      }

      &-text {
        @include font-line(22, 21.6);
      }
    }

    &__function {
      &-area {
        order: 2;
        margin-left: auto;
      }
    }

    &__progress {
      $proogress: &;

      &-area {
        order: 1;
        position: static;
        width: auto;
        padding: 0 32px;
        background-color: transparent;
      }

      &-list {
        display: flex;
        align-items: center;
        width: auto;
      }

      &-wrap {
        @include visually-hidden-reset;

        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      &-num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19px;
        height: 19px;
        border: 2px solid $color_gray_20;
        border-radius: 50%;
        font-size: 1.2rem;
        margin-right: 8px;
      }

      &-text {
        display: block;
        @include font-line(16, 22.4);
      }

      &-item {
        width: auto;
        height: auto;
        background-color: transparent;

        &:not(:first-child) {
          margin-left: 16px;
        }

        &--active {
          background-color: transparent;
        }

        &--current {
          #{$proogress}-num {
            border: 2px solid $color_ado_yellow;
            background-color: $color_ado_yellow;
            font-weight: bold;
            color: $color_gray_90;
          }
          #{$proogress}-text {
            font-weight: bold;
            color: $color_text_white;
          }
        }
      }
    }
  }
}
