<div
  class="p-vacant-seat01__item js-flight-item p-vacant-seat01__item--zindex0"
  [ngClass]="{
    'p-vacant-seat01__item--unavailable': isUnavailable || isAllFFDisabled
  }"
>
  <div class="p-vacant-seat01__flight">
    <div class="p-vacant-seat01__flight-item" *ngIf="isContainedDelayedFlight || isContainedEarlyDepartureFlight">
      <!-- 遅延情報 -->
      <span class="c-tag c-tag--type01" *ngIf="isContainedDelayedFlight"
        ><strong [innerHTML]="'label.delayed' | staticMsg"></strong
      ></span>
      <!-- 早発情報 -->
      <span class="c-tag c-tag--type01" *ngIf="isContainedEarlyDepartureFlight"
        ><strong [innerHTML]="'label.earlyDeparture' | staticMsg"></strong
      ></span>
    </div>

    <div class="c-flight-plan">
      <p class="c-flight-plan__location c-flight-plan__item-1">
        <em
          *ngIf="departureLocation"
          [ngClass]="{ 'c-flight-plan__location-em': departureLocationEm }"
          [innerHTML]="'label.takeoff' | staticMsg : { '0': departureLocation }"
        ></em>
      </p>
      <div class="c-flight-plan__time c-flight-plan__item-2 c-flight-plan__time--w100">
        <div class="c-flight-plan__container">
          <div class="c-flight-plan__time-box c-flight-plan__time-box--narrow">
            <div class="c-flight-plan__time-val-meridian">
              <ng-container *ngIf="departureTimeNew">
                <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span
                ><span
                  [innerHTML]="departureTime! | dateFormat : 'availability.flightPlan_departuredate.time.old'"
                ></span>
              </ng-container>
              <ng-container *ngIf="!departureTimeNew">
                <span [innerHTML]="departureTime! | dateFormat : 'availability.flightPlan_departuredate.time'"></span>
              </ng-container>
            </div>
            <!-- 深夜出発日時 -->
            <div
              class="c-flight-plan__time-date c-flight-plan__time-date--left"
              *ngIf="lateNightDepartureDate && !departureTimeNew"
            >
              <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
              <em
                ><span
                  [innerHTML]="
                    lateNightDepartureDate
                      | dateFormat
                        : (lateNightDepartureDate === departureTime
                            ? 'availability.flightplan_departuredate.datetime.lateNight'
                            : 'availability.flightplan_departuredate.datetime.lateNight.latest')
                        : true
                  "
                ></span
              ></em>
            </div>
          </div>
          <div class="c-flight-plan__separator">－</div>
          <div class="c-flight-plan__time-box">
            <div class="c-flight-plan__time-val-meridian">
              <ng-container *ngIf="destinationTimeNew">
                <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span>
                <span
                  [outerHTML]="destinationTime! | dateFormat : 'availability.flightPlan_departuredate.time.old'"
                ></span>
              </ng-container>
              <ng-container *ngIf="!destinationTimeNew">
                <span [innerHTML]="destinationTime! | dateFormat : 'availability.flightPlan_departuredate.time'">
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div
          class="c-flight-plan__container c-flight-plan__time--change"
          *ngIf="destinationTimeNew || departureTimeNew"
        >
          <div class="c-flight-plan__time-box c-flight-plan__time-box--narrow">
            <div class="c-flight-plan__time-val-meridian" *ngIf="departureTimeNew">
              <span class="u-visually-hidden" [innerHTML]="'reader.newDepartureTime' | staticMsg"></span>
              <ng-container *ngIf="newTimeDisplay(departureTime, departureTimeNew); else elseTemplate">
                <span
                  [innerHTML]="departureTimeNew | dateFormat : 'availability.flightPlan_departuredate.time.latest'"
                ></span>
              </ng-container>
              <ng-template #elseTemplate>
                <span
                  [innerHTML]="departureTimeNew | dateFormat : 'availability.flightPlan_departuredate.datetime.latest'"
                ></span>
              </ng-template>
            </div>
            <div
              class="c-flight-plan__time-date c-flight-plan__time-date--left"
              *ngIf="lateNightDepartureDate && departureTimeNew"
            >
              <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
              <em
                ><span
                  [innerHTML]="
                    lateNightDepartureDate
                      | dateFormat
                        : (lateNightDepartureDate === departureTime
                            ? 'availability.flightplan_departuredate.datetime.lateNight'
                            : 'availability.flightplan_departuredate.datetime.lateNight.latest')
                        : true
                  "
                ></span
              ></em>
            </div>
          </div>
          <div class="c-flight-plan__separator" *ngIf="destinationTimeNew">－</div>
          <div class="c-flight-plan__time-box">
            <div class="c-flight-plan__time-val-meridian">
              <span class="u-visually-hidden" [innerHTML]="'reader.newArrivalTime' | staticMsg"></span>
              <ng-container *ngIf="newTimeDisplay(destinationTime, destinationTimeNew); else elseTemplate">
                <span
                  *ngIf="destinationTimeNew"
                  [outerHTML]="destinationTimeNew | dateFormat : 'availability.flightPlan_departuredate.time.latest'"
                ></span>
              </ng-container>
              <ng-template #elseTemplate>
                <span
                  *ngIf="destinationTimeNew"
                  [outerHTML]="
                    destinationTimeNew | dateFormat : 'availability.flightPlan_departuredate.datetime.latest'
                  "
                ></span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <p class="c-flight-plan__location c-flight-plan__item-4"></p>

      <div class="c-flight-plan__time c-flight-plan__item-5">
        <span class="c-flight-plan__flight-duration">
          <!-- 乗継回数 -->
          <span *ngIf="numberOfConnection === 0" [innerHTML]="'label.nonStopFlight' | staticMsg"></span>
          <span
            *ngIf="numberOfConnection !== 0"
            [innerHTML]="'label.connectionCount' | staticMsg : { '0': numberOfConnection }"
          ></span>
          ・
          <!-- 所要時間 -->
          <span class="u-visually-hidden" [innerHTML]="'reader.flightDuration' | staticMsg"></span>
          <span [outerHTML]="duration! | dateFormat : 'availability_domestic.flightPlan_flightTotalTime'"></span>
        </span>
      </div>
    </div>
    <div class="p-vacant-seat01__flight-item">
      <div class="c-flight-detail-overview01">
        <div class="c-flight-detail-overview01__item">
          <!-- 運航キャリア識別 -->
          <!-- ANAロゴを表す画像 -->
          <span class="c-ana-icon01">
            <img
              class="c-ana-icon01__img"
              src="{{ appConstants.IMG.PARTNER_COMPANY_ICON }}"
              width="{{ appConstants.IMG.LOGO_S_WIDTH }}"
              height="{{ appConstants.IMG.LOGO_S_HEIGHT }}"
              [alt]="'alt.nhFlight' | staticMsg"
              *ngIf="isAllNhGroupOperated"
            />
            <!-- 運航キャリア名称 -->
            <span
              class="c-asam-icon01__text"
              [ngClass]="{
                'c-asam-icon01__text--dark': isUnavailable || isAllFFDisabled
              }"
              *ngIf="operatingAirlinesArray && operatingAirlinesArray.length > 0"
            >
              <div
                [outerHTML]="'label.segmanetOpCarrierWording' | staticMsg : { '0': contactOperatingAirlinesName }"
              ></div>
            </span>
          </span>
        </div>
        <div class="c-flight-detail-overview01__2col">
          <!-- フライト詳細表示 -->
          <div class="c-flight-detail-overview01__2col-right c-flight-detail-overview01__2col-right-item--flex">
            <button
              id="vacant-seat-item-pres-accordion-btn"
              class="c-accordion-btn01"
              [ngClass]="{ 'is-open': isOpen }"
              (click)="seatDetailViewChange()"
              [attr.aria-expanded]="isOpen"
              aria-controls="flight-detail09"
            >
              <span class="c-accordion-btn01__text" [innerHTML]="'label.details1' | staticMsg"></span
              ><span class="c-accordion-btn01__icon"></span
              ><span class="u-visually-hidden" [innerHTML]="isOpen ? 'OPEN' : 'CLOSE'"></span>
            </button>
            <!-- 運賃別シートマップ表示 -->
            <p class="c-flight-detail-overview01__2col-right-item-text" *ngIf="!isAnaApl">
              <a
                id="vacant-seat-item-pres-accordion-seatmap"
                href="javascript:void(0)"
                class="c-flight-detail-overview01__2col-right-item-link body-item-text-link"
                (click)="seatMapClick()"
                [innerHTML]="'label.seatMap' | staticMsg"
              ></a>
            </p>
            <!-- 空席待ち人数取得 -->
            <p
              class="c-flight-detail-overview01__2col-right-item-text"
              [ngStyle]="{ visibility: isWaitlistedForFF() ? 'visible' : 'hidden' }"
            >
              <a
                id="vacant-seat-item-pres-accordion-waiting"
                href="javascript:void(0)"
                class="c-flight-detail-overview01__2col-right-item-link"
                (click)="waitingCountsClick()"
                [innerHTML]="'label.waitngCounts' | staticMsg"
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="flight-detail01" class="p-vacant-seat01__detail" [ngClass]="{ 'is-open': isOpen }">
    <!-- フライト詳細が入ります -->
    <div class="p-flight-detail01 p-flight-detail01--sr">
      <ng-container *ngFor="let segment of boundDetails?.segments; let i = index; let isLast = last">
        <div class="p-flight-detail01__block">
          <asw-flight-detail-item-cont
            [airBoundInfo]="airBoundInfo"
            [segment]="segment"
            [isFirst]="i === 0"
          ></asw-flight-detail-item-cont>
        </div>
        <div class="p-flight-detail01__block" *ngIf="segment.connectionTime && segment.connectionTime > 0 && !isLast">
          <asw-flight-select-connection-cont [segment]="segment"></asw-flight-select-connection-cont>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="p-vacant-seat01__cells p-vacant-seat01__scroll-list">
    <ng-container
      *ngFor="let airBound of getIsAllUnableFareFamilyCodesData(airBoundInfo); let isLast = last; let isFirst = first"
    >
      <!-- 左へスクロール -->
      <div class="p-vacant-seat01__scroll-btn p-vacant-seat01__scroll-btn--prev" *ngIf="isFirst && isFirstCells">
        <button
          id="vacant-seat-item-pres-carousel-left2"
          class="l-carousel01__arrow ts-l-carousel01-prev"
          aria-label="Previous"
          (click)="scrollPrevious()"
        >
          <img
            src="assets/images/btn_arrow_prev_36.svg"
            width="36"
            height="36"
            [alt]="'alt.switchToLeftScreen2' | staticMsg"
            aria-hidden="true"
          />
        </button>
      </div>
      <ng-container *ngIf="airBound.isCanChooseAfterFilter">
        <div
          class="p-vacant-seat01__cell p-vacant-seat01__scroll-item"
          [ngClass]="{
            'p-vacant-seat01__cell--unavailable': airBound.isUnavailable || isUnavailable,
            'p-vacant-seat01__cell--selected': !airBound.isUnavailable && isSelected(airBound),
            'p-vacant-seat01__scroll-item--end': isLast,
            'p-vacant-seat01__cell-border-left--none': isFirst && isFirstCells
          }"
        >
          <!-- 読み上げ用文言として便名のリスト、キャビン名称、運賃名称を含んだ旨を設置する -->
          <span
            class="u-visually-hidden"
            [innerHTML]="
              'reader.flightRadio.owd'
                | staticMsg
                  : {
                      '0': flightNoList,
                      '1': getCabinKey(airBound.cabin) | staticMsg,
                      '2': 'm_ff_priority_code_i18n_' + airBound.priorityCode | staticMsg
                    }
            "
          ></span>
          <div
            class="p-vacant-seat01__btn"
            role="button"
            tabindex="0"
            (click)="selectFareFamily(airBound)"
            (keydown.enter)="selectFareFamily(airBound)"
            *ngIf="!airBound.isUnavailable"
          >
            <div class="p-vacant-seat01__btn-inner">
              <!-- 最安支払総額である旨の表示 -->
              <div
                class="p-vacant-seat01__btn-lowest"
                *ngIf="airBound.airBound?.prices?.isCheapest && airBound.fareType !== 'awardFare'"
              >
                <span class="c-tag-lowest-price" [innerHTML]="'label.lowest' | staticMsg"></span>
              </div>
              <!-- 金額 -->
              <div class="p-vacant-seat01__btn-price" *ngIf="airBound.fareType !== 'awardFare'">
                <em
                  [innerHTML]="
                    getTotalPrice(airBound)?.price?.total!
                      | amountFormat
                        : 'availability.flightContainer_totalPrice'
                        : getTotalPrice(airBound)?.price?.currencyCode
                  "
                >
                </em>
              </div>
              <div class="p-vacant-seat01__btn-info">
                <!-- 残席数 -->
                <div class="p-vacant-seat01__btn-text" *ngIf="airBound.quotaType === 'few' && airBound.quota !== 0">
                  <em [innerHTML]="'label.lastSeatWithSpan1' | staticMsg : { '0': airBound.quota }"></em>
                </div>
                <!-- 空席がある旨 -->
                <div class="p-vacant-seat01__btn-text" *ngIf="airBound.quotaType === 'available'">
                  <em [innerHTML]="'label.remainSeat' | staticMsg"></em>
                </div>
                <!-- 空席待ちである旨 -->
                <div class="p-vacant-seat01__btn-text" *ngIf="airBound.isWaitlisted">
                  <em [innerHTML]="'label.waitlist' | staticMsg"></em>
                </div>
              </div>
            </div>
            <span class="u-visually-hidden" [innerHTML]="'reader.openFareSelectmodel' | staticMsg"></span>
          </div>
          <div class="p-vacant-seat01__btn" *ngIf="airBound.isUnavailable">
            <ng-container
              *ngIf="
                airBound.unavailableReason === 'soldOut' || airBound.unavailableReason === 'unavailableJuniorPilot';
                else noVacancy
              "
            >
              <div class="p-vacant-seat01__btn-inner">
                <!-- 最安支払総額である旨の表示 -->
                <div
                  class="p-vacant-seat01__btn-lowest"
                  *ngIf="airBound.airBound?.prices?.isCheapest && airBound.fareType !== 'awardFare'"
                >
                  <span class="c-tag-lowest-price" [innerHTML]="'label.lowest' | staticMsg"></span>
                </div>
                <!-- 金額 -->
                <div class="p-vacant-seat01__btn-price" *ngIf="airBound.fareType !== 'awardFare'">
                  <em
                    [innerHTML]="
                      getTotalPrice(airBound)?.price?.total!
                        | amountFormat
                          : 'availability.flightContainer_totalPrice'
                          : getTotalPrice(airBound)?.price?.currencyCode
                    "
                  >
                  </em>
                </div>
                <div class="p-vacant-seat01__btn-info">
                  <!-- 残席数 -->
                  <div
                    class="p-vacant-seat01__btn-text"
                    *ngIf="airBound.quotaType === 'few' || airBound.unavailableReason === 'soldOut'"
                  >
                    <em [innerHTML]="'label.lastSeatWithSpan1' | staticMsg : { '0': airBound.quota }"></em>
                  </div>
                  <div
                    class="c-promotion-applied p-vacant-seat01__unavailable"
                    *ngIf="airBound.unavailableReason === 'unavailableJuniorPilot'"
                  >
                    <img
                      class="c-promotion-applied__img"
                      src="assets/images/icon_not_selectable_20.svg"
                      width="20"
                      height="20"
                      [alt]="'alt.juniorPilot' | staticMsg"
                    />
                    <div
                      class="p-vacant-seat01__btn-attention u-text-color-red"
                      aria-live="polite"
                      [innerHTML]="'label.juniorPilot' | staticMsg"
                    ></div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noVacancy>
              <div class="p-vacant-seat01__btn-inner">
                <div class="p-vacant-seat01__btn-text">
                  <em [innerHTML]="'label.noVacancy1' | staticMsg"></em>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!airBound.isCanChooseAfterFilter">
        <div
          class="p-vacant-seat01__cell p-vacant-seat01__scroll-item"
          [ngClass]="{
            'p-vacant-seat01__cell--unavailable': !airBound.airBoundId,
            'p-vacant-seat01__scroll-item--end': isLast
          }"
        >
          <div class="p-vacant-seat01__btn" *ngIf="!airBound.airBoundId">
            <div class="p-vacant-seat01__btn-inner">
              <div class="p-vacant-seat01__btn-text">
                <em [innerHTML]="'label.noVacancy1' | staticMsg"></em>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- 右へスクロール -->
      <div class="p-vacant-seat01__scroll-btn p-vacant-seat01__scroll-btn--next" *ngIf="isLast && isFirstCells">
        <button
          id="vacant-seat-item-pres-carousel-right2"
          class="l-carousel01__arrow ts-l-carousel01-next"
          aria-label="Next"
          (click)="scrollNext()"
        >
          <img
            src="assets/images/btn_arrow_next_36.svg"
            width="36"
            height="36"
            [alt]="'alt.switchToRightScreen2' | staticMsg"
            aria-hidden="true"
          />
        </button>
      </div>
    </ng-container>
  </div>
</div>
