<asw-flight-bound-selected-pres
  [isSelected]="isSelected"
  [boundInfo]="boundInfo"
  [boundDetails]="boundDetails"
  [airBoundInfo]="viewAirBound"
  [selectedAirBound]="selectedAirBound"
  [isContainedDelayedFlight]="isContainedDelayedFlight"
  [isContainedEarlyDepartureFlight]="isContainedEarlyDepartureFlight"
  [departureLocation]="departureLocation"
  [departureLocationEm]="departureLocationEm"
  [destinationLocation]="destinationLocation"
  [destinationLocationEm]="destinationLocationEm"
  [departureTime]="departureTime"
  [departureTimeMeridian]="departureTimeMeridian"
  [departureTimeNew]="departureTimeNew"
  [departureTimeNewMeridian]="departureTimeNewMeridian"
  [destinationTime]="destinationTime"
  [destinationTimeMeridian]="destinationTimeMeridian"
  [destinationTimeNew]="destinationTimeNew"
  [destinationTimeNewMeridian]="destinationTimeNewMeridian"
  [lateNightDepartureDate]="lateNightDepartureDate"
  [numberOfConnection]="numberOfConnection"
  [duration]="duration"
  [arrivalDaysDifference]="arrivalDaysDifference"
  [hasRedChar]="hasRedChar"
  [isAllNhGroupOperated]="isAllNhGroupOperated"
  [operatingAirlinesArray]="operatingAirlinesArray"
  [isSelectedBoundDetails]="isSelectedBoundDetails"
  [type]="type"
  [airBoundInfos]="airBoundInfo"
  (selectFareFamily$)="selectFareFamily()"
  (showOtherFlights$)="showOtherFlights()"
  (openflightDetails$)="openFlightDetails()"
></asw-flight-bound-selected-pres>
