<div class="l-carousel01" aria-label="カルーセルタイトル" *aswDeviceIf="'sp'">
  <span class="u-visually-hidden" [innerHTML]="'reader.7daysCalendarSection' | staticMsg"></span>
  <div class="l-carousel01__view">
    <div class="l-carousel01__wrap">
      <button
        id="carousel-data-navi-previous-btn-{{ id }}"
        class="l-carousel01__arrow l-carousel01__arrow--prev is-available"
        aria-label="Previous"
        (click)="previous()"
        *ngIf="showPrevious"
      >
        <span class="u-visually-hidden" [innerHTML]="'alt.switchToLeftScreen2' | staticMsg"></span>
        <img
          src="assets/images/btn_arrow_prev_36.svg"
          width="36"
          height="36"
          [alt]="altPrevious | staticMsg"
          aria-hidden="true"
        />
      </button>
      <ng-container [ngTemplateOutlet]="content"></ng-container>
      <button
        id="carousel-data-navi-next-btn-{{ id }}"
        class="l-carousel01__arrow l-carousel01__arrow--next is-available"
        aria-label="Next"
        (click)="next()"
        *ngIf="showNext"
      >
        <span class="u-visually-hidden" [innerHTML]="'alt.switchToRightScreen2' | staticMsg"></span>
        <img
          src="assets/images/btn_arrow_next_36.svg"
          width="36"
          height="36"
          [alt]="altNext | staticMsg"
          aria-hidden="true"
        />
      </button>
    </div>
  </div>
</div>
<div class="l-carousel01" aria-label="カルーセルタイトル" *aswDeviceIf="'notSp'">
  <span class="u-visually-hidden" [innerHTML]="'reader.7daysCalendarSection' | staticMsg"></span>
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</div>
<ng-template #content>
  <ng-content></ng-content>
</ng-template>
