<asw-flight-detail-item-pres
  [departureDay]="departureDay"
  [departureDateTime]="departureDateTime"
  [departureDateTimeApm]="departureDateTimeApm"
  [departureEstimatedDateTime]="departureEstimatedDateTime"
  [departureEstimatedDateTimeApm]="departureEstimatedDateTimeApm"
  [arrivalDateTime]="arrivalDateTime"
  [arrivalDateTimeApm]="arrivalDateTimeApm"
  [arrivalEstimatedDateTime]="arrivalEstimatedDateTime"
  [arrivalEstimatedDateTimeApm]="arrivalEstimatedDateTimeApm"
  [arrivalDaysDifferenceByFlight]="arrivalDaysDifferenceByFlight"
  [estimatedArrivalDaysDifferenceByFlight]="estimatedArrivalDaysDifferenceByFlight"
  [lateNightDepartureDateTime]="lateNightDepartureDateTime"
  [isNhGroupOperated]="isNhGroupOperated"
  [isDelayedFlight]="isDelayedFlight"
  [isEarlyDepartureFlight]="isEarlyDepartureFlight"
  [departureLocationName]="departureLocationName"
  [arrivalLocationName]="arrivalLocationName"
  [departureTerminal]="departureTerminal"
  [departureLocationCode]="departureLocationCode"
  [arrivalTerminal]="arrivalTerminal"
  [arrivalLocationCode]="arrivalLocationCode"
  [flightNumber]="flightNumber"
  [operatingAirlineName]="operatingAirlineName"
  [operatingAirlineCode]="operatingAirlineCode"
  [operatingAirlineLink]="operatingAirlineLink"
  [aircraftCode]="aircraftCode"
  [aircraftName]="aircraftName"
  [aircraftLink]="aircraftLink"
  [stops]="stops"
  [duration]="duration"
></asw-flight-detail-item-pres>
