@use "../../core" as *;

.p-modal-head02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  &__title {
    @include font-line(18, 26);

    font-weight: bold;

    &--blue {
      color: $color_primary_blue;
    }

    &--sp-tb-fs16 {
      @include font-line(16, 22.4);
    }
  }

  &__close {
    position: absolute;
    top: -40px;
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("~/assets/images/icon_close_white_24.svg") no-repeat center center;
    background-size: 24px auto;
    z-index: 10;
  }

  &--non-title01 {
    padding: 0 16px;
  }
}

@include is-pc {
  .p-modal-head02 {
    padding: 12px 56px 12px 16px;

    &__title {
      &--sp-tb-fs16 {
        @include font-line(18, 26);
      }
    }

    &__close {
      top: 8px;
      right: 11px;
      background: url("~/assets/images/icon_close_ado_blue_24.svg") no-repeat center center;
      background-size: 24px auto;
    }

    &--non-title01 {
      padding: 12px 16px;
      min-height: 50px;
    }
  }
}
