@use "../../core" as *;

.p-sub-column-layout01 {
  margin: 0 (-$contents-garter + vw);
  padding: 16px ($contents-garter + vw);
  background-color: $color_white;

  &__item {
    margin-top: 12px;

    &:first-child {
      margin-top: 0;
    }

    &-tag {
      display: inline-block;
      padding: 0 4px;
      margin-top: 4px;
      box-shadow: 0 0 0 1px $color_gray_90 inset;
      border-radius: 2px;
      font-weight: 400;
      @include font-line(12, 16.8);
    }

    &--change-lights {
      margin-top: 8px;
    }
  }

  &__title {
    margin-bottom: 12px;

    &--has-btn {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text {
    &-link {
      color: $color_primary_blue;
    }

    &-total {
      @include visually-hidden;
    }
  }

  &__list {
    &-item {
      border-bottom: 1px solid $color_gray_20;
      @include font-line(16, 22.4);
    }

    &-link {
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        background: url("~/assets/images/icon_chevron_right_20.svg") no-repeat center center;
      }
    }
  }

  .p-heading-area01__title {
    padding-right: 8px;
    @include font-line(16, 22.4);
  }

  .c-btn-tertiary {
    flex-shrink: 0;
  }

  .c-coupon-adaptation {
    margin-top: 12px;
  }
}
@include is-tb {
  .p-sub-column-layout01 {
    margin: 0 (-$contents-garter-tb + vw);
    padding: 16px ($contents-garter-tb + vw);

    &__title {
      &--has-btn {
        align-items: center;
      }
    }
  }
}
@include is-pc {
  .p-sub-column-layout01 {
    padding: 16px 0 0;
    margin: 24px 0 0;
    background-color: transparent;
    position: sticky;
    top: 0;
    left: 0;

    &__item {
      margin-top: 24px;
      border-top: 1px solid $color_gray_90;

      &--change-lights {
        margin-top: 16px;
      }

      &--link {
        display: block;
      }
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      &-total {
        @include visually-hidden-reset;
      }
    }

    .p-heading-area01__title {
      @include font-line(28, 33.6);
    }

    .c-float-list01,
    .c-flex-list01,
    .c-coupon-adaptation {
      margin-top: 16px;
    }
  }
}
