<asw-base-modal
  [overlayRef]="overlayRef"
  [title]="title"
  [modalType]="modalType"
  widthType="--"
  [focusElement]="focusElement"
>
  <div body class="l-modal05__body js-modal-body" [formGroup]="filterForm">
    <div body class="p-international-filter">
      <div class="p-international-filter__box">
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2 class="p-international-filter__box-title" [innerHTML]="'label.seatAvaiAbility' | staticMsg"></h2>
            <div class="p-international-filter__box-item">
              <asw-checkbox
                formControlName="seatAvailability"
                [label]="'label.showAvailableFlights' | staticMsg"
              ></asw-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="p-international-filter__box">
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2 class="p-international-filter__box-title" [innerHTML]="'label.flightBudget' | staticMsg"></h2>
            <div class="p-international-filter__box-item">
              <asw-range-slider
                formControlName="flightBudget"
                ariaLabel="label.flightBudget"
                type="amount"
                stepGrid="1"
                [valueMin]="filterCondition.priceMin"
                [valueMax]="filterCondition.priceMax"
              ></asw-range-slider>
            </div>
          </div>
        </div>
      </div>
      <!-- 運賃フィルタ種別 -->
      <div class="p-international-filter__box">
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2 class="p-international-filter__box-title" [innerHTML]="'label.fare' | staticMsg"></h2>

            <div class="p-international-filter__box-item">
              <!-- 運賃オプション -->
              <div class="c-form-element-radio">
                <div class="c-form-element-radio__wrap">
                  <input
                    [checked]="selectedFare === '0'"
                    type="radio"
                    name="fareOptionType"
                    id="fareOptionType_1"
                    value="0"
                    class="c-form-element-radio__input"
                    (change)="selectedFareHandle('0')"
                    aria-invalid="false"
                  />
                  <label for="fareOptionType_1" class="c-form-element-radio__label">
                    <span class="c-form-element-radio__check"></span>
                    <span class="c-form-element-radio__text" [innerHTML]="'label.fareRules' | staticMsg"></span>
                  </label>
                </div>
              </div>
              <div style="margin-top: 16px; margin-left: 20px">
                <asw-checkbox-group formControlName="fareOptions" direction="vertical">
                  <ng-container *ngFor="let fare of filterCondition.fareOptions?.fareOptionMap">
                    <asw-checkbox [label]="fare.fareOptionName | staticMsg"></asw-checkbox>
                  </ng-container>
                </asw-checkbox-group>
              </div>
              <!-- 運賃名称 -->
              <div class="p-international-filter__box-item" style="border-top: none">
                <div class="c-form-element-radio">
                  <div class="c-form-element-radio__wrap">
                    <input
                      [checked]="selectedFare === '1'"
                      type="radio"
                      name="fareOptionType"
                      id="fareOptionType_2"
                      value="1"
                      class="c-form-element-radio__input"
                      (change)="selectedFareHandle('1')"
                      aria-invalid="false"
                    />
                    <label for="fareOptionType_2" class="c-form-element-radio__label">
                      <span class="c-form-element-radio__check"></span>
                      <span class="c-form-element-radio__text" [innerHTML]="'label.specificFare' | staticMsg"></span>
                    </label>
                  </div>
                </div>
                <div style="margin-top: 16px; margin-left: 20px">
                  <asw-radio-group formControlName="fareNameMap" direction="vertical">
                    <asw-radio-button
                      *ngFor="let fare of filterCondition.fareOptions?.fareNameMap"
                      [value]="fare.fareCode"
                      name="fareName"
                      [label]="fare.fareName"
                    ></asw-radio-button>
                  </asw-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 往路 バウンドに対して指定する項目 -->
      <div class="p-international-filter__box" formGroupName="outBoundForm" *ngIf="isOutFilterExist">
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2
              class="p-international-filter__box-title"
              [innerHTML]="'label.number.section.n' | staticMsg : { '0': 1 }"
            ></h2>
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <!-- 乗り継ぎ回数 -->
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.numberOfConnection' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="numberOfConnection" direction="vertical">
                    <ng-container *ngFor="let connectionNum of filterCondition.outBound?.numberOfConnection">
                      <asw-checkbox
                        [label]="
                          connectionNum.connectionNumber.toString() === '0'
                            ? ('label.directFlight' | staticMsg)
                            : ('label.transitFlight' | staticMsg : { '0': connectionNum.connectionNumber })
                        "
                      ></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 所要時間 -->
              <div class="p-international-filter__box-item-wrap">
                <h3 class="p-international-filter__box-item-wrap-head" [innerHTML]="'label.totalTime' | staticMsg"></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="durationTime"
                    ariaLabel="label.totalTime"
                    type="interval"
                    [valueMin]="filterCondition.outBound!.durationMin"
                    [valueMax]="filterCondition.outBound!.durationMax"
                    stepGrid="30"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <div class="p-international-filter__box-item">
              <!-- 出発時間帯 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.departureTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="originDepatureTime"
                    type="time"
                    ariaLabel="label.departureTime"
                    [valueMin]="filterCondition.outBound!.originTimeMin"
                    [valueMax]="filterCondition.outBound!.originTimeMax"
                    stepGrid="120"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <div class="p-international-filter__box-item">
              <!-- 到着時間帯 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.arrivalTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="arrivalTime"
                    ariaLabel="label.arrivalTime"
                    type="time"
                    [valueMin]="filterCondition.outBound!.arrivalTimeMin"
                    [valueMax]="filterCondition.outBound!.arrivalTimeMax"
                    stepGrid="120"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <!-- 乗継空港 -->
            <div
              class="p-international-filter__box-item"
              *ngIf="filterCondition.outBound && filterCondition.outBound.connections.length > 0"
            >
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.transitAirport' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="connections" direction="vertical">
                    <ng-container *ngFor="let connection of filterCondition.outBound?.connections">
                      <asw-checkbox [label]="getLocationName(connection)"></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 乗継時間 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'reader.transferconditionTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="connectionTime"
                    ariaLabel="reader.transferconditionTime"
                    type="interval"
                    handlePoint="one"
                    [valueMin]="filterCondition.outBound!.connectionTimeMin"
                    [valueMax]="filterCondition.outBound!.connectionTimeMax"
                    stepGrid="30"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- サービス-->
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2 class="p-international-filter__box-title" [innerHTML]="'label.service' | staticMsg"></h2>
            <!-- 運航キャリア -->
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.operationAirlines' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="operatingAirlines" direction="vertical">
                    <ng-container *ngFor="let operatingAirline of filterCondition.outBound?.operatingAirlines">
                      <asw-checkbox
                        [label]="getAirlineName(operatingAirline)"
                        *ngIf="operatingAirline.airlineCode !== this.appConstants.CARRIER.TWO_LETTER; else isNH"
                      ></asw-checkbox>
                      <ng-template #isNH>
                        <asw-checkbox [label]="'label.nhLink' | staticMsg"></asw-checkbox>
                      </ng-template>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>
            </div>
            <!-- 機種 -->
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.itineraryDetailsBoarding' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="aircraftCodes" direction="vertical">
                    <ng-container *ngFor="let aircraftCode of filterCondition.outBound?.aircraftCodes">
                      <asw-checkbox [label]="aircraftCode.code"></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--復路: バウンドに対して指定する項目 -->
      <div class="p-international-filter__box" formGroupName="returnBoundForm" *ngIf="isReturnFilterExist">
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2
              class="p-international-filter__box-title"
              [innerHTML]="'label.number.section.n' | staticMsg : { '0': 2 }"
            ></h2>
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.numberOfConnection' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="numberOfConnection" direction="vertical">
                    <ng-container *ngFor="let connectionNum of filterCondition.returnBound?.numberOfConnection">
                      <asw-checkbox
                        [label]="
                          connectionNum.connectionNumber.toString() === '0'
                            ? ('label.directFlight' | staticMsg)
                            : ('label.transitFlight' | staticMsg : { '0': connectionNum.connectionNumber })
                        "
                      ></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 所要時間 -->
              <div class="p-international-filter__box-item-wrap">
                <h3 class="p-international-filter__box-item-wrap-head" [innerHTML]="'label.totalTime' | staticMsg"></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="durationTime"
                    ariaLabel="label.totalTime"
                    type="interval"
                    [valueMin]="filterCondition.returnBound!.durationMin"
                    [valueMax]="filterCondition.returnBound!.durationMax"
                    stepGrid="30"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <!-- 出発空港 -->
            <div class="p-international-filter__box-item">
              <div
                class="p-international-filter__box-item-wrap"
                *ngIf="filterCondition.returnBound && filterCondition.returnBound.originLocation.length > 0"
              >
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.departureAirport' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="originLocation" direction="vertical">
                    <ng-container *ngFor="let locationInfo of filterCondition.returnBound?.originLocation">
                      <asw-checkbox [label]="getLocationName(locationInfo.name)"></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 出発時間帯 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.departureTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="originDepatureTime"
                    ariaLabel="label.departureTime"
                    type="time"
                    [valueMin]="filterCondition.returnBound!.originTimeMin"
                    [valueMax]="filterCondition.returnBound!.originTimeMax"
                    stepGrid="120"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <!-- 到着空港 -->
            <div class="p-international-filter__box-item">
              <div
                class="p-international-filter__box-item-wrap"
                *ngIf="filterCondition.returnBound && filterCondition.returnBound.arrivalLocation.length > 0"
              >
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.arrivalAirport' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="arrivalLocation" direction="vertical">
                    <ng-container *ngFor="let location of filterCondition.returnBound?.arrivalLocation">
                      <asw-checkbox [label]="getLocationName(location.name)"> </asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 到着時間帯 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.arrivalTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="arrivalTime"
                    ariaLabel="label.arrivalTime"
                    type="time"
                    [valueMin]="filterCondition.returnBound!.arrivalTimeMin"
                    [valueMax]="filterCondition.returnBound!.arrivalTimeMax"
                    stepGrid="120"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>

            <!-- 乗継空港 -->
            <div
              class="p-international-filter__box-item"
              *ngIf="filterCondition.returnBound && filterCondition.returnBound.connections.length > 0"
            >
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.transitAirport' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="connections" direction="vertical">
                    <ng-container *ngFor="let connection of filterCondition.returnBound?.connections">
                      <asw-checkbox [label]="getLocationName(connection)"></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>

              <!-- 乗継時間 -->
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'reader.transferconditionTime' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body p-international-filter__box-item-wrap-body--min">
                  <asw-range-slider
                    formControlName="connectionTime"
                    ariaLabel="reader.transferconditionTime"
                    type="interval"
                    handlePoint="one"
                    [valueMin]="filterCondition.returnBound!.connectionTimeMin"
                    [valueMax]="filterCondition.returnBound!.connectionTimeMax"
                    stepGrid="30"
                  >
                  </asw-range-slider>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- サービス-->
        <div class="p-international-filter__box-inner">
          <div class="p-international-filter__box-unit">
            <h2 class="p-international-filter__box-title" [innerHTML]="'label.service' | staticMsg"></h2>
            <!-- 運航キャリア -->
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.operationAirlines' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="operatingAirlines" direction="vertical">
                    <ng-container *ngFor="let operatingAirline of filterCondition.returnBound?.operatingAirlines">
                      <asw-checkbox
                        [label]="getAirlineName(operatingAirline)"
                        *ngIf="operatingAirline.airlineCode !== this.appConstants.CARRIER.TWO_LETTER; else isNH"
                      ></asw-checkbox>
                      <ng-template #isNH>
                        <asw-checkbox [label]="'label.nhLink' | staticMsg"></asw-checkbox>
                      </ng-template>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>
            </div>
            <!-- 機種 -->
            <div class="p-international-filter__box-item">
              <div class="p-international-filter__box-item-wrap">
                <h3
                  class="p-international-filter__box-item-wrap-head"
                  [innerHTML]="'label.itineraryDetailsBoarding' | staticMsg"
                ></h3>
                <div class="p-international-filter__box-item-wrap-body">
                  <asw-checkbox-group formControlName="aircraftCodes" direction="vertical">
                    <ng-container *ngFor="let aircraftCode of filterCondition.returnBound?.aircraftCodes">
                      <asw-checkbox [label]="aircraftCode.code"></asw-checkbox>
                    </ng-container>
                  </asw-checkbox-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div footer class="p-modal-foot02">
    <div class="p-modal-foot02__content">
      <asw-button
        type="secondary"
        size="s-min-w100"
        [label]="'label.resetall' | staticMsg"
        (click$)="reset()"
      ></asw-button>
    </div>
    <div class="p-modal-foot02__content">
      <asw-button
        type="primary"
        [label]="'label.apply1' | staticMsg"
        size="s-min-w100"
        [disabled]="filterForm.invalid"
        throttleClick
        (click$)="apply()"
      ></asw-button>
    </div>
  </div>
</asw-base-modal>
