<asw-flight-bound-pres
  *ngIf="travelSolutionDisplay"
  [departureDate]="departureDate"
  [fareFamilies]="fareFamilies"
  [isAllUnableFareFamilyCodes]="isAllUnableFareFamilyCodes"
  [travelSolutionDisplay]="travelSolutionDisplay"
  [status]="status"
  [svcInfoList]="svcInfoList"
  [itinerary]="itinerary"
  [airBoundInfos]="airBoundInfos"
  [baggageFreeCheckedShow]="baggageFreeCheckedShow"
  (selectFareFamily$)="selectFareFamily($event)"
  (showOtherFlights$)="showOtherFlights()"
  [ffSummaryDisplay]="ffSummaryDisplay"
  [selectedTS]="selectedTS"
  [selectedAirBound]="selectedAirBound"
  [outSelectedAirBound]="outSelectedAirBound"
  [departureLocation]="departureLocation"
  [arrivalLocation]="arrivalLocation"
  [transferAirport]="transferAirport"
  [scrollEvent$]="scrollEvent$"
  [departureDates]="departureDates"
  [type]="type"
  [searchCondition]="searchCondition"
  (selectCalendar$)="selectCalendar($event)"
  (changeDisplay$)="changeDisplay($event)"
  [hasNonWaitlistResult]="hasNonWaitlistResult"
  [hasDisallowdedJuniorPilotResult]="hasDisallowdedJuniorPilotResult"
></asw-flight-bound-pres>
