@use "../../core" as *;

.l-mybooking {
  padding-top: 20px;
  background-color: $color_white;
  border-top: 1px solid $color_gray_7;

  &__item {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    &-label,
    &-status {
      font-weight: bold;
      color: $color_ado_blue;
    }

    &-label {
      @include font-line(32, 38.4);
    }

    &-status {
      @include font-line(16, 22.4);
    }

    &-ticket {
      margin-top: 4px;
      @include font-line(16, 22.4);
    }

    &-btn {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 16px;

      &-item {
        display: inline-flex;
        align-items: center;
        min-height: 28px;
        padding: 2px 12px 2px 8px;
        border: 1px solid $color_gray_20;
        border-radius: 20px;
        @include font-line(14, 19.6);
      }

      &-icon {
        margin-right: 4px;
      }

      &-label {
        color: $color_ado_blue;
      }
    }
  }

  &__option {
    $option: &;

    margin-top: 16px;

    &-item {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__menu {
    $menu: &;

    width: 100%;
    display: flex;
    justify-content: space-between;

    &-item {
      width: 105px;
      min-height: 80px;
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      &.is-current {
        #{$menu} {
          &-label {
            font-weight: bold;
            color: $color_ado_blue;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: $color_ado_blue;
          position: absolute;
          bottom: 0;
        }
      }
    }

    &-label {
      color: $color_gray_70;
      white-space: nowrap;
    }
  }
}
@include is-tb {
  .l-mybooking {
    $this: &;

    padding-top: 24px;

    &__item {
      &--tb-pc-2col {
        display: flex;
        justify-content: space-between;
        #{$this} {
          &__title,
          &__option {
            width: calc((100% - 30px) / 2);
          }
        }
      }
    }

    &__title {
      &-ticket {
        margin-top: 8px;
      }

      &-btn {
        gap: 12px 8px;
      }
    }

    &__option {
      margin-top: 0;

      &-item {
        margin-top: 12px;
      }
    }

    &__menu {
      $menu: &;

      max-width: 375px;
    }
  }
}
@include is-pc {
  .l-mybooking {
    $this: &;

    padding-top: 40px;

    &__item {
      margin-top: 24px;

      &--tb-pc-2col {
        #{$this} {
          &__title,
          &__option {
            width: calc((100% - 48px) / 2);
          }
        }
      }
    }

    &__title {
      &-label {
        @include font-line(40, 48);
      }

      &-status {
        @include font-line(20, 26);
      }
    }

    &__menu {
      $menu: &;

      max-width: 480px;

      &-item {
        width: 140px;
        min-height: 82px;
      }

      &-label {
        @include font-line(16, 22.4);
      }
    }
  }
}
