@use "../../core" as *;

/* modal-size - utility
--------------------------------------------------------- */

@include is-tb {
  .u-modal-size-tb {
    &-345 {
      width: 345px;
    }

    &-384 {
      width: 384px;
    }

    &-540 {
      width: 540px;
    }

    &-768 {
      width: 768px;
    }
  }
}
@include is-pc {
  .u-modal-size-pc {
    &-384 {
      width: 384px;
    }

    &-500 {
      width: 500px;
    }

    &-600 {
      width: 600px;
    }

    &-768 {
      width: 768px;
    }

    &-1000 {
      width: 1000px;
    }
  }
}
