<asw-roundtrip-flight-availability-domestic-pres
  [outDepartureLocation]="outDepartureLocation"
  [outArrivalLocation]="outArrivalLocation"
  [outTransferAirport]="outTransferAirport"
  [outSelectedAirBound]="outSelectedAirBound"
  [outSelectedTS]="outSelectedTS"
  [outSearchResult]="outSearchResult"
  [outFilterSearchResult]="outFilterSearchResult"
  [outFareFamilies]="outFareFamilies"
  [outDepartureDate]="outDepartureDate"
  [outFFSummaryDisplay]="outFFSummaryDisplay"
  [outAirCalendar]="outAirCalendar"
  [outStatus]="outStatus"
  [outItinerary]="outItinerary"
  [outAirBoundInfos]="outAirBoundInfos"
  [outSeatAvailability]="outSeatAvailability"
  [outFilterCondition]="outFilterCondition"
  (selectOutCalendar$)="selectOutCalendar($event)"
  (selectOutFareFamily$)="selectOutFareFamily($event)"
  (showOtherOutFlights$)="showOtherOutFlights()"
  (changeOutDisplay$)="changeOutDisplay($event)"
  [returnDepartureLocation]="returnDepartureLocation"
  [returnArrivalLocation]="returnArrivalLocation"
  [returnTransferAirport]="returnTransferAirport"
  [returnSelectedAirBound]="returnSelectedAirBound"
  [returnSelectedTS]="returnSelectedTS"
  [returnSearchResult]="returnSearchResult"
  [returnFilterSearchResult]="returnFilterSearchResult"
  [returnFareFamilies]="returnFareFamilies"
  [returnDepartureDate]="returnDepartureDate"
  [returnFFSummaryDisplay]="returnFFSummaryDisplay"
  [returnAirCalendar]="returnAirCalendar"
  [returnStatus]="returnStatus"
  [returnItinerary]="returnItinerary"
  [returnAirBoundInfos]="returnAirBoundInfos"
  [returnSeatAvailability]="returnSeatAvailability"
  [returnFilterCondition]="returnFilterCondition"
  [searchTime]="searchTime"
  (selectReturnCalendar$)="selectReturnCalendar($event)"
  (selectReturnFareFamily$)="selectReturnFareFamily($event)"
  (showOtherReturnFlights$)="showOtherReturnFlights()"
  (changeReturnDisplay$)="changeReturnDisplay($event)"
  [searchCondition]="searchCondition"
  [scrollEvent$]="scrollEvent$"
  [filterConditionInit$]="filterConditionInit$"
  [currentSortOrder]="currentSortOrder"
  [isFareOptionDisplay]="isFareOptionDisplay"
  [travelers]="travelers"
  [criteoAlignmentInfo]="criteoAlignmentInfo"
  (filterApply$)="filterApplyHandle($event)"
  (sortApply$)="sortApplyHandle($event)"
  (continue$)="continue()"
  (selectedCancel$)="selectedCancel($event)"
></asw-roundtrip-flight-availability-domestic-pres>
