<div class="p-flight-detail01__item p-flight-detail01__item--nextday" *ngIf="departureDay">
  <div class="p-flight-detail01__time">
    <div class="p-flight-detail01__time-item">
      <span class="p-flight-detail01__time-nextday" [innerHTML]="departureDay"></span>
    </div>
  </div>
</div>
<div class="p-flight-detail01__sr-wrap">
  <div class="p-flight-detail01__sr-left">
    <div
      class="p-flight-detail01__item p-flight-detail01__item--2col p-flight-detail01__item--departure"
      [ngClass]="{
        'p-flight-detail01__item--changed': departureEstimatedDateTime && isNhGroupOperated,
        'p-flight-detail01__item--other': !isNhGroupOperated
      }"
    >
      <div class="p-flight-detail01__time">
        <ng-container *ngIf="!!departureEstimatedDateTime && isNhGroupOperated; else departureNormal">
          <!-- 遅延便の場合 -->
          <ng-container *ngIf="isDelayedFlight">
            <!-- 出発時刻 -->
            <div class="p-flight-detail01__time-item p-flight-detail01__time-item--begin">
              <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span>
              <span [innerHTML]="departureDateTime! | dateFormat : 'flightDetail_departuredate.time.old'"></span>
            </div>
            <!-- 最新出発時刻 -->
            <div class="p-flight-detail01__time-item p-flight-detail01__time-item--end">
              <em
                ><span class="u-visually-hidden" [innerHTML]="'reader.newDepartureTime' | staticMsg"></span>
                <ng-container *ngIf="newTimeDisplay(departureDateTime, departureEstimatedDateTime); else elseTemplate">
                  <span
                    [innerHTML]="departureEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.time.latest'"
                  ></span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span
                    [innerHTML]="
                      departureEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.datetime.latest'
                    "
                  ></span>
                </ng-template>
              </em>
            </div>
            <!-- 深夜出発時刻 -->
            <div *ngIf="lateNightDepartureDateTime" class="p-flight-detail01__time-item">
              <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
              <em
                ><span
                  [innerHTML]="
                    lateNightDepartureDateTime
                      | dateFormat
                        : (lateNightDepartureDateTime === departureDateTime
                            ? 'flightDetail_departuredate.datetime.lateNight'
                            : 'flightDetail_departuredate.datetime.lateNight.latest')
                        : true
                  "
                ></span
              ></em>
            </div>
          </ng-container>
          <!-- 早発便の場合 -->
          <ng-container *ngIf="isEarlyDepartureFlight">
            <!-- 最新出発時刻 -->
            <div class="p-flight-detail01__time-item p-flight-detail01__time-item--begin">
              <em>
                <span class="u-visually-hidden" [innerHTML]="'reader.newDepartureTime' | staticMsg"></span>
                <ng-container *ngIf="newTimeDisplay(departureDateTime, departureEstimatedDateTime); else elseTemplate">
                  <span
                    [innerHTML]="departureEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.time.latest'"
                  ></span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span
                    [innerHTML]="
                      departureEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.datetime.latest'
                    "
                  ></span>
                </ng-template>
              </em>
            </div>
            <!-- 深夜出発時刻 -->
            <div *ngIf="lateNightDepartureDateTime" class="p-flight-detail01__time-item">
              <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
              <em>
                <span
                  [innerHTML]="
                    lateNightDepartureDateTime
                      | dateFormat
                        : (lateNightDepartureDateTime === departureDateTime
                            ? 'availability.flightplan_departuredate.datetime.lateNight'
                            : 'availability.flightplan_departuredate.datetime.lateNight.latest')
                        : true
                  "
                ></span
              ></em>
            </div>
            <!-- 出発時刻 -->
            <div class="p-flight-detail01__time-item p-flight-detail01__time-item--end">
              <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span>
              <span [innerHTML]="departureDateTime! | dateFormat : 'flightDetail_departuredate.time.old'"></span>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #departureNormal>
          <div class="p-flight-detail01__time-item">
            <!-- 出発時刻 -->
            <span class="u-visually-hidden" [innerHTML]="'reader.scheduleDepartureTime' | staticMsg"></span>
            <span [innerHTML]="departureDateTime! | dateFormat : 'flightDetail_departuredate.time'"></span>
            <!-- 深夜出発時刻 -->
            <div *ngIf="lateNightDepartureDateTime" class="p-flight-detail01__time-item">
              <span class="u-visually-hidden" [innerHTML]="'reader.lateNightDeparture' | staticMsg"></span>
              <span
                [innerHTML]="
                  lateNightDepartureDateTime
                    | dateFormat
                      : (lateNightDepartureDateTime === departureDateTime
                          ? 'availability.flightplan_departuredate.datetime.lateNight'
                          : 'availability.flightplan_departuredate.datetime.lateNight.latest')
                      : true
                "
              ></span>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="p-flight-detail01__detail">
        <div class="p-flight-detail01__detail-item">
          <!-- 出発地 -->
          <p class="p-flight-detail01__detail-airport" [innerHTML]="departureLocationName"></p>
          <!-- 出発ターミナル  -->
          <p class="p-flight-detail01__detail-terminal">
            <ng-container *ngIf="departureTerminal">
              {{ 'label.airportTerminal' | staticMsg : { '0': departureTerminal } }}
            </ng-container>
            <!-- ターミナル未確定である旨 -->
            <ng-container *ngIf="!departureTerminal && departureLocationCode === 'HND' && isNhGroupOperated">
              {{ 'label.terminal.departure' | staticMsg : { '0': 'label.airportTerminalPending' | staticMsg } }}
            </ng-container>
          </p>
        </div>
      </div>
    </div>
    <div
      class="p-flight-detail01__item p-flight-detail01__item--2col p-flight-detail01__item--wait"
      [ngClass]="{ 'p-flight-detail01__item--other': !isNhGroupOperated }"
    >
      <div class="p-flight-detail01__time">
        <!-- フライト時間 -->
        <!-- SSNさん担当日付フォーマット取り込み待ち -->
        <div class="p-flight-detail01__time-item" *ngIf="duration">
          <span class="u-visually-hidden" [innerHTML]="'reader.flightDuration' | staticMsg"></span>
          <span [innerHTML]="duration | dateFormat : 'flightDetail_flightTime'"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="p-flight-detail01__sr-right">
    <div class="p-flight-detail01__item">
      <div class="p-flight-detail01__detail">
        <div class="p-flight-detail01__detail-item">
          <dl class="p-flight-detail01__detail-info">
            <div class="p-flight-detail01__detail-info-item">
              <dt class="p-flight-detail01__detail-info-title" [innerHTML]="'label.flightName' | staticMsg"></dt>
              <dd class="p-flight-detail01__detail-info-contents">
                <div class="c-flight-detail-overview01">
                  <!-- 便名 -->
                  <div class="c-flight-detail-overview01__item">
                    <strong [innerHTML]="flightNumber"></strong>
                  </div>
                  <!-- 運航キャリア識別 -->
                  <div class="c-flight-detail-overview01__item" *ngIf="isNhGroupOperated">
                    <span class="c-ana-icon01">
                      <img
                        class="c-ana-icon01__img"
                        src="{{ appConstants.IMG.PARTNER_COMPANY_ICON }}"
                        width="{{ appConstants.IMG.LOGO_S_WIDTH }}"
                        height="{{ appConstants.IMG.LOGO_S_HEIGHT }}"
                        [alt]="'alt.nhFlight' | staticMsg"
                      />
                    </span>
                  </div>
                </div>
              </dd>
            </div>
            <!-- 運航キャリア名称 -->
            <div
              *ngIf="operatingAirlineName && operatingAirlineCode !== appConstants.CARRIER.TWO_LETTER"
              class="p-flight-detail01__detail-info-item"
            >
              <dt
                class="p-flight-detail01__detail-info-title"
                [innerHTML]="'label.operate.withNoFormat' | staticMsg"
              ></dt>
              <dd class="p-flight-detail01__detail-info-contents">
                <span class="c-asam-icon01 c-asam-icon01--large">
                  {{ 'label.segmanetOpCarrierWording' | staticMsg : { '0': operatingAirlineName } }}
                </span>
              </dd>
            </div>
            <!-- 機種コード -->
            <span *aswDeviceIf="'sp'" class="u-visually-hidden" [innerHTML]="aircraftName"></span>
            <div *ngIf="aircraftCode" class="p-flight-detail01__detail-info-item">
              <dt
                class="p-flight-detail01__detail-info-title"
                [innerHTML]="'label.itineraryDetailsBoarding' | staticMsg"
              ></dt>
              <dd class="p-flight-detail01__detail-info-contents">
                <ng-container *ngIf="aircraftLink; else elseAircraftTemplate">
                  <a
                    id="flight-detail-aircraft-link"
                    class="p-flight-detail01__item-text-link"
                    [href]="aircraftLink | metaUrl"
                    target="_blank"
                  >
                    {{ aircraftCode }}
                    <asw-indicator-popup></asw-indicator-popup>
                  </a>
                </ng-container>
                <ng-template #elseAircraftTemplate>
                  {{ aircraftCode }}
                </ng-template>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="p-flight-detail01__item p-flight-detail01__item--2col p-flight-detail01__item--arrival"
  [ngClass]="{
    'p-flight-detail01__item--changed': !!arrivalEstimatedDateTime && isNhGroupOperated,
    'p-flight-detail01__item--other': !isNhGroupOperated
  }"
>
  <div class="p-flight-detail01__time">
    <ng-container *ngIf="arrivalEstimatedDateTime && isNhGroupOperated; else normalArrival">
      <!-- 遅延便の場合 -->
      <ng-container *ngIf="isDelayedFlight">
        <!-- 到着時刻 -->
        <div class="p-flight-detail01__time-item p-flight-detail01__time-item--begin">
          <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span>
          <span [innerHTML]="arrivalDateTime! | dateFormat : 'flightDetail_departuredate.time.old'"></span>
        </div>
        <!-- 最新到着時刻 -->
        <div class="p-flight-detail01__time-item p-flight-detail01__time-item--end">
          <em>
            <span class="u-visually-hidden" [innerHTML]="'reader.newArrivalTime' | staticMsg"></span>
            <ng-container *ngIf="newTimeDisplay(arrivalDateTime, arrivalEstimatedDateTime); else elseTemplate">
              <span
                [innerHTML]="arrivalEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.time.latest'"
              ></span>
            </ng-container>
            <ng-template #elseTemplate>
              <span
                [innerHTML]="arrivalEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.datetime.latest'"
              ></span>
            </ng-template>
          </em>
        </div>
      </ng-container>
      <!-- 早発便の場合 -->
      <ng-container *ngIf="isEarlyDepartureFlight">
        <!-- 最新到着時刻 -->
        <div class="p-flight-detail01__time-item p-flight-detail01__time-item--begin">
          <em>
            <span class="u-visually-hidden" [innerHTML]="'reader.newArrivalTime' | staticMsg"></span>
            <ng-container *ngIf="newTimeDisplay(arrivalDateTime, arrivalEstimatedDateTime); else elseTemplate">
              <span
                [innerHTML]="arrivalEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.time.latest'"
              ></span>
            </ng-container>
            <ng-template #elseTemplate>
              <span
                [innerHTML]="arrivalEstimatedDateTime! | dateFormat : 'flightDetail_departuredate.datetime.latest'"
              ></span>
            </ng-template>
          </em>
        </div>
        <!-- 到着時刻 -->
        <div class="p-flight-detail01__time-item p-flight-detail01__time-item--end">
          <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span>
          <span [innerHTML]="arrivalDateTime! | dateFormat : 'flightDetail_departuredate.time.old'"></span>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #normalArrival>
      <div class="p-flight-detail01__time-item">
        <!-- 到着時刻 -->
        <span class="u-visually-hidden" [innerHTML]="'reader.scheduleArrivalTime' | staticMsg"></span>
        <span [innerHTML]="arrivalDateTime! | dateFormat : 'flightDetail_departuredate.time'"></span>
      </div>
    </ng-template>
  </div>
  <div class="p-flight-detail01__detail">
    <div class="p-flight-detail01__detail-item">
      <!-- 到着地 -->
      <p class="p-flight-detail01__detail-airport" [innerHTML]="arrivalLocationName"></p>
      <!-- 到着ターミナル-->
      <p class="p-flight-detail01__detail-terminal">
        <ng-container *ngIf="arrivalTerminal">
          {{ 'label.airportTerminal' | staticMsg : { '0': arrivalTerminal } }}
        </ng-container>
        <!-- ターミナル未確定である旨 -->
        <ng-container *ngIf="!arrivalTerminal && arrivalLocationCode === 'HND' && isNhGroupOperated">
          {{ 'label.terminal.departure' | staticMsg : { '0': 'label.airportTerminalPending' | staticMsg } }}
        </ng-container>
      </p>
    </div>
  </div>
</div>
